pipeline/PL_Control.json
{
	"name": "PL_Control",
	"properties": {
		"activities": [
			{
				"name": "SequenceGroups - Reference",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SequenceGroup - Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGet_PipelineParameters_SequenceGroups]",
						"storedProcedureParameters": {
							"entityType": {
								"type": "String",
								"value": "Reference"
							},
							"pipeline": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.PipelineName",
									"type": "Expression"
								}
							},
							"isSequence": {
								"type": "Boolean",
								"value": {
									"value": "@greaterOrEquals(indexOf(pipeline().parameters.SequenceList,'[R]'),0)\n",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Control",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SequenceGroup - Reference",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SequenceGroups - Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SequenceGroups - Reference').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Reference Entities",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_ReferenceEntities",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PipelineName": {
										"value": "@item().Pipeline",
										"type": "Expression"
									},
									"SourceSystemName": {
										"value": "@item().SrcSystem",
										"type": "Expression"
									},
									"SequenceGroup": {
										"value": "@item().SequenceGroup",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "SequenceGroups - Core",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SequenceGroup - Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGet_PipelineParameters_SequenceGroups]",
						"storedProcedureParameters": {
							"entityType": {
								"type": "String",
								"value": "Core"
							},
							"pipeline": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.PipelineName",
									"type": "Expression"
								}
							},
							"isSequence": {
								"type": "Boolean",
								"value": {
									"value": "@greaterOrEquals(indexOf(pipeline().parameters.SequenceList,'[C]'),0)\n",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Control",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SequenceGroup - Core",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SequenceGroups - Core",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SequenceGroups - Core').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Core Entities",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CoreEntities",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PipelineName": {
										"value": "@item().Pipeline",
										"type": "Expression"
									},
									"SourceSystemName": {
										"value": "@item().SrcSystem",
										"type": "Expression"
									},
									"SequenceGroup": {
										"value": "@item().SequenceGroup",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "SequenceGroups - Lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Reset PipelineRunsToday",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGet_PipelineParameters_SequenceGroups]",
						"storedProcedureParameters": {
							"entityType": {
								"type": "String",
								"value": "Lookup"
							},
							"pipeline": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.PipelineName",
									"type": "Expression"
								}
							},
							"isSequence": {
								"type": "Boolean",
								"value": {
									"value": "@greaterOrEquals(indexOf(pipeline().parameters.SequenceList,'[L]'),0)\n",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Control",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SequenceGroup - Lookup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SequenceGroups - Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SequenceGroups - Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Lookup Entities",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_LookupEntities",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PipelineName": {
										"value": "@item().Pipeline",
										"type": "Expression"
									},
									"SourceSystemName": {
										"value": "@item().SrcSystem",
										"type": "Expression"
									},
									"SequenceGroup": {
										"value": "@item().SequenceGroup",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "SequenceGroups - Delete",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SequenceGroup - Core",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGet_PipelineParameters_SequenceGroups]",
						"storedProcedureParameters": {
							"entityType": {
								"type": "String",
								"value": "Delete"
							},
							"pipeline": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.PipelineName",
									"type": "Expression"
								}
							},
							"isSequence": {
								"type": "Boolean",
								"value": {
									"value": "@greaterOrEquals(indexOf(pipeline().parameters.SequenceList,'[D]'),0)\n",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Control",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SequenceGroup - Delete",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SequenceGroups - Delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SequenceGroups - Delete').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Delete Entities",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_DeleteEntities",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PipelineName": {
										"value": "@item().Pipeline",
										"type": "Expression"
									},
									"SourceSystemName": {
										"value": "@item().SrcSystem",
										"type": "Expression"
									},
									"SequenceGroup": {
										"value": "@item().SequenceGroup",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Reset PipelineRunsToday",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_PipelineRunsToday]"
				},
				"linkedServiceName": {
					"referenceName": "Control",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"PipelineName": {
				"type": "string",
				"defaultValue": "OH_D365_DataSync"
			},
			"SequenceList": {
				"type": "string",
				"defaultValue": "[L],[R],[C],[D]"
			}
		},
		"variables": {
			"Property_ProgressState": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "OH_D365_DataSync"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-17T13:03:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}