pipeline/PL_Control.json
{
	"name": "PL_Control",
	"properties": {
		"activities": [
			{
				"name": "SequenceGroups",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SourceSystem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGet_PipelineParameters_SequenceGroups]",
						"storedProcedureParameters": {
							"pipeline": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.PipelineName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Control",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SequenceGroup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SequenceGroups",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SequenceGroups').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Reference Entities",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_ReferenceEntities",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PipelineName": {
										"value": "@item().Pipeline",
										"type": "Expression"
									},
									"SourceSystemName": {
										"value": "@item().SrcSystem",
										"type": "Expression"
									},
									"SequenceGroup": {
										"value": "@item().SequenceGroup",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Core Entities",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Reference Entities",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CoreEntities",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PipelineName": {
										"value": "@item().Pipeline",
										"type": "Expression"
									},
									"SourceSystemName": {
										"value": "@item().SrcSystem",
										"type": "Expression"
									},
									"SequenceGroup": {
										"value": "@item().SequenceGroup",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "SourceSystem",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SourceSystems",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SourceSystems').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "D365_TransactionCurrency to SQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "CommonDataServiceForAppsSource"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"transactioncurrencyid"
										]
									},
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "transactioncurrencyid",
												"type": "Guid"
											},
											"sink": {
												"name": "transactioncurrencyid",
												"type": "Guid"
											}
										},
										{
											"source": {
												"name": "isocurrencycode",
												"type": "String"
											},
											"sink": {
												"name": "isocurrencycode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "currencyname",
												"type": "String"
											},
											"sink": {
												"name": "currencyname",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Dataverse_Eval",
									"type": "DatasetReference",
									"parameters": {
										"EntityName": "transactioncurrency"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_OnPrem_Tbl",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@item().SrcServer",
											"type": "Expression"
										},
										"DatabaseName": "OH_D365_Config",
										"SchemaName": "adf",
										"TableName": "d365_transactioncurrency"
									}
								}
							]
						},
						{
							"name": "D365_StringMap to SQL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "D365_TransactionCurrency to SQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "CommonDataServiceForAppsSource",
									"query": "<fetch>\r\n\t<entity name=\"stringmap\">\t\t\r\n\t\t\r\n\t\t<attribute name=\"attributename\"/>\t\t\r\n\t\t<attribute name=\"attributevalue\"/>\r\n\t\t<attribute name=\"objecttypecode\"/>\r\n\t\t<attribute name=\"value\"/>\r\n\r\n\t\t<filter type=\"and\">\r\n\t\t\t<condition attribute=\"attributename\" operator=\"like\" value=\"phg_%\"/>\r\n\t\t</filter>\r\n\t\t\r\n\t</entity>\r\n</fetch>\r\n"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"stringmapid"
										]
									},
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "attributename",
												"type": "String"
											},
											"sink": {
												"name": "attributename",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "attributevalue",
												"type": "Int32"
											},
											"sink": {
												"name": "attributevalue",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "objecttypecode",
												"type": "String"
											},
											"sink": {
												"name": "objecttypecode",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "value",
												"type": "String"
											},
											"sink": {
												"name": "value",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "stringmapid",
												"type": "Guid"
											},
											"sink": {
												"name": "stringmapid",
												"type": "Guid"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Dataverse_Eval",
									"type": "DatasetReference",
									"parameters": {
										"EntityName": "stringmap"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_OnPrem_Tbl",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@item().SrcServer",
											"type": "Expression"
										},
										"DatabaseName": "OH_D365_Config",
										"SchemaName": "adf",
										"TableName": "d365_stringmap"
									}
								}
							]
						},
						{
							"name": "Reference Entity Code Map to SQL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "D365_StringMap to SQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": "truncate table adf.ReferenceEntityCodeMap",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SourceSystem",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SourceSystem",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SourceSchema",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SourceSchema",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SourceTable",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SourceTable",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SourceCode",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SourceCode",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Entity",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Entity",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "EntityQualifiedName",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "EntityQualifiedName",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "EntityCode",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "EntityCode",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "EntityValue",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "EntityValue",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Excel_ReferenceEntityCodeMap",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_OnPrem_Tbl",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@item().SrcServer",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "OH_D365_Config",
											"type": "Expression"
										},
										"SchemaName": "adf",
										"TableName": "ReferenceEntityCodeMap"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "SourceSystems",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGet_PipelineParameters_SourceSystems]",
						"storedProcedureParameters": {
							"pipeline": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.PipelineName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Control",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"PipelineName": {
				"type": "string",
				"defaultValue": "OH_D365_DataSync"
			}
		},
		"folder": {
			"name": "OH_D365_DataSync"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-17T13:03:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}