pipeline/PL_CoreEntities.json
{
	"name": "PL_CoreEntities",
	"properties": {
		"activities": [
			{
				"name": "Core_Entities",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RunStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGet_PipelineParameters_Entities]",
						"storedProcedureParameters": {
							"entityType": {
								"type": "String",
								"value": "Core"
							},
							"pipeline": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.PipelineName",
									"type": "Expression"
								}
							},
							"sequenceGroup": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.SequenceGroup",
									"type": "Expression"
								}
							},
							"srcSystem": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceSystemName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Control",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Entity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Core_Entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Core_Entities').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Delete Transformed",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Source to Staging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Datalake_PipeDelimited",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@item().DatalakeContainer",
											"type": "Expression"
										},
										"Directory": {
											"value": "@item().DatalakeDirectory_Transformed",
											"type": "Expression"
										},
										"Filename": {
											"value": "@item().DatalakeFilename",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Staging to Transformed",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Delete Transformed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_OnPrem_Tbl",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@item().SrcServer",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@item().SrcDatabase",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item().SrcSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().SrcTable",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Datalake_PipeDelimited",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@item().DatalakeContainer",
											"type": "Expression"
										},
										"Directory": {
											"value": "@item().DatalakeDirectory_Transformed",
											"type": "Expression"
										},
										"Filename": {
											"value": "@item().DatalakeFilename",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "PipelineParameters LogStart",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogStart]",
								"storedProcedureParameters": {
									"dtLastPipelineRunStart": {
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"guidLastPipelineRun": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"strEntity": {
										"value": {
											"value": "@item().Entity",
											"type": "Expression"
										},
										"type": "String"
									},
									"strSourceSystem": {
										"value": {
											"value": "@item().SrcSystem",
											"type": "Expression"
										},
										"type": "String"
									},
									"strEntityType": {
										"value": {
											"value": "@item().EntityType",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Control",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Source to Staging",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "PipelineParameters LogStart",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(item().SrcSchema,'.',item().SrcStoredProcedure)",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"dtLastPipelineRun": {
										"value": {
											"value": "@item().LastSuccessfulPipelineRunStart",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServer_OnPrem",
								"type": "LinkedServiceReference",
								"parameters": {
									"ServerName": {
										"value": "@item().SrcServer",
										"type": "Expression"
									},
									"DatabaseName": {
										"value": "@item().SrcDatabase",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "If RowsCopied",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Staging to Transformed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Staging to Transformed').output.rowsCopied,0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "PipelineParameters LogEnd",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
											"storedProcedureParameters": {
												"dtLastPipelineRunEnd": {
													"value": {
														"value": "@{utcnow()}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"strEntity": {
													"value": {
														"value": "@item().Entity",
														"type": "Expression"
													},
													"type": "String"
												},
												"strEntityType": {
													"value": {
														"value": "@item().EntityType",
														"type": "Expression"
													},
													"type": "String"
												},
												"strLastPipelineRunStatus": {
													"value": "Succeeded",
													"type": "String"
												},
												"strSourceSystem": {
													"value": {
														"value": "@item().SrcSystem",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "Control",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Destination to Source",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Switch Entity",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "CommonDataServiceForAppsSource",
												"query": {
													"value": "@item().FetchXML",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "SqlServerSink",
												"writeBehavior": "upsert",
												"upsertSettings": {
													"useTempDB": true,
													"keys": [
														"phg_integrationkey"
													]
												},
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "DS_Dataverse",
												"type": "DatasetReference",
												"parameters": {
													"EntityName": {
														"value": "@item().DestEntity",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_SQL_OnPrem_Tbl",
												"type": "DatasetReference",
												"parameters": {
													"ServerName": {
														"value": "@item().SrcServer",
														"type": "Expression"
													},
													"DatabaseName": {
														"value": "@item().SrcDatabase",
														"type": "Expression"
													},
													"SchemaName": "d365",
													"TableName": {
														"value": "@item().DestEntity",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Switch Entity",
										"type": "Switch",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@item().Entity",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "Property",
													"activities": [
														{
															"name": "Trfd_to_Dest - Property",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "0.00:10:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	}
																},
																"sink": {
																	"type": "CommonDataServiceForAppsSink",
																	"writeBatchSize": 10,
																	"writeBehavior": "upsert",
																	"ignoreNullValues": false,
																	"alternateKeyName": {
																		"value": "@item().UpsertKeyColumn",
																		"type": "Expression"
																	}
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "phg_integrationkey",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_integrationkey",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_addressline1",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_addressline1",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_addressline2",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_addressline2",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_addressline3",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_addressline3",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_addressline4",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_addresstowncity",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_blockreference",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_blockreference",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_builddate",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_builddate",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_buildtypeid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_buildtypeid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_dateoffinaldisposal",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_dateoffinaldisposal",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_electricmeterserialnumber",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_electricmeterserialnumber",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_estatecode",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_estatecode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_floorplanurl",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_floorplanurl",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_fuelservicedate",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_fuelservicedate",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_gasmeterserialnumber",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_gasmeterserialnumber",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_managementareaid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_managementareaid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_maximumnumberofoccupants",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_maximumnumberofoccupants",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_name",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_numberofbathrooms",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_numberofbathrooms",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_numberofbedrooms",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_numberofbedrooms",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_numberoffloors",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_numberoffloors",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_numberofreceptionrooms",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_numberofreceptionrooms",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_ownedbycustomer",
																				"type": "Decimal",
																				"physicalType": "Decimal"
																			},
																			"sink": {
																				"name": "phg_ownedbycustomer",
																				"type": "Decimal"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_ownedbyphg",
																				"type": "Decimal",
																				"physicalType": "Decimal"
																			},
																			"sink": {
																				"name": "phg_ownedbyphg",
																				"type": "Decimal"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_parishid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_parishid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_plotnumber",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_plotnumber",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_postcode",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_postcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_propertyfloorlevel",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_propertyfloorlevel",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_tenancyid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_tenancyid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_propertystatus",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_propertystatus",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_substatus",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_substatus",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_propertytype",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_propertytype",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_subareacode",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_subareacode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_uprn",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_uprn",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_wardcode",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_wardcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_sharedownership",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_sharedownership",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_lift",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_lift",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_anyadaptions",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_anyadaptions",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_parkingspace",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_parkingspace",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_cookersupply",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_cookersupply",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_garden",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_garden",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_gascapped",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_gascapped",
																				"type": "Boolean"
																			}
																		}
																	],
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_Datalake_PipeDelimited",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Dataverse",
																	"type": "DatasetReference",
																	"parameters": {
																		"EntityName": {
																			"value": "@item().DestEntity",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "PipelineParameters LogEnd - Property",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - Property",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
																"storedProcedureParameters": {
																	"dtLastPipelineRunEnd": {
																		"value": {
																			"value": "@{utcnow()}",
																			"type": "Expression"
																		},
																		"type": "DateTime"
																	},
																	"strEntity": {
																		"value": {
																			"value": "@item().Entity",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strLastPipelineRunStatus": {
																		"value": {
																			"value": "@{activity('Trfd_to_Dest - Property').output.executionDetails[0].status}",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strSourceSystem": {
																		"value": {
																			"value": "@item().SrcSystem",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strEntityType": {
																		"value": {
																			"value": "@item().EntityType",
																			"type": "Expression"
																		},
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "Control",
																"type": "LinkedServiceReference"
															}
														}
													]
												},
												{
													"value": "Tenancy",
													"activities": [
														{
															"name": "Trfd_to_Dest - Tenancy",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	}
																},
																"sink": {
																	"type": "CommonDataServiceForAppsSink",
																	"writeBatchSize": 10,
																	"writeBehavior": "upsert",
																	"ignoreNullValues": false,
																	"alternateKeyName": {
																		"value": "@item().UpsertKeyColumn",
																		"type": "Expression"
																	}
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "phg_balance",
																				"type": "Decimal",
																				"physicalType": "Decimal"
																			},
																			"sink": {
																				"name": "phg_balance",
																				"type": "Decimal"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_integrationkey",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_integrationkey",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_name",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_rentcharges",
																				"type": "Decimal",
																				"physicalType": "Decimal"
																			},
																			"sink": {
																				"name": "phg_rentcharges",
																				"type": "Decimal"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_tenancycategoryid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_tenancycategoryid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_tenancyenddate",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_tenancyenddate",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_tenancystartdate",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_tenancystartdate",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_tenancytypeid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_tenancytypeid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_urn",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_urn",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "transactioncurrencyid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "transactioncurrencyid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_propertyid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_propertyid",
																				"type": "Guid"
																			}
																		}
																	],
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_Datalake_PipeDelimited",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Dataverse",
																	"type": "DatasetReference",
																	"parameters": {
																		"EntityName": {
																			"value": "@item().DestEntity",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "PipelineParameters LogEnd - Tenancy",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - Tenancy",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
																"storedProcedureParameters": {
																	"dtLastPipelineRunEnd": {
																		"value": {
																			"value": "@{utcnow()}",
																			"type": "Expression"
																		},
																		"type": "DateTime"
																	},
																	"strEntity": {
																		"value": {
																			"value": "@item().Entity",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strLastPipelineRunStatus": {
																		"value": {
																			"value": "@{activity('Trfd_to_Dest - Tenancy').output.executionDetails[0].status}",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strSourceSystem": {
																		"value": {
																			"value": "@item().SrcSystem",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strEntityType": {
																		"value": {
																			"value": "@item().EntityType",
																			"type": "Expression"
																		},
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "Control",
																"type": "LinkedServiceReference"
															}
														}
													]
												},
												{
													"value": "Contact",
													"activities": [
														{
															"name": "Trfd_to_Dest - Contact",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	}
																},
																"sink": {
																	"type": "CommonDataServiceForAppsSink",
																	"writeBatchSize": 10,
																	"writeBehavior": "upsert",
																	"ignoreNullValues": false,
																	"alternateKeyName": {
																		"value": "@item().UpsertKeyColumn",
																		"type": "Expression"
																	}
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "donotbulkemail",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "donotbulkemail",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "donotemail",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "donotemail",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "donotphone",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "donotphone",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "donotpostalmail",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "donotpostalmail",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "emailaddress1",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "emailaddress1",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "firstname",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "firstname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "fullname",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "fullname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "lastname",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "lastname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "middlename",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "middlename",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "mobilephone",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "mobilephone",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_age",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_age",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_dateofbirth",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_dateofbirth",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_dateofdeath",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_dateofdeath",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_ethnicgroup",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_ethnicgroup",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_integrationkey",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_integrationkey",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_lastloggedin",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_lastloggedin",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_nationaility",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_nationaility",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_ninumber",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_ninumber",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_previousname",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_previousname",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_registeredonportal",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_registeredonportal",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_relgion",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_relgion",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_sexuality",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_sexuality",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "telephone2",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "telephone2",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "gendercode",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "gendercode",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_systemorigin",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_systemorigin",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_primarytenancy",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_primarytenancy",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_primaryproperty",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_primaryproperty",
																				"type": "Guid"
																			}
																		}
																	],
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_Datalake_PipeDelimited",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Dataverse",
																	"type": "DatasetReference",
																	"parameters": {
																		"EntityName": {
																			"value": "@item().DestEntity",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "PipelineParameters LogEnd - Contact",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - Contact",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
																"storedProcedureParameters": {
																	"dtLastPipelineRunEnd": {
																		"value": {
																			"value": "@{utcnow()}",
																			"type": "Expression"
																		},
																		"type": "DateTime"
																	},
																	"strEntity": {
																		"value": {
																			"value": "@item().Entity",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strLastPipelineRunStatus": {
																		"value": {
																			"value": "@{activity('Trfd_to_Dest - Contact').output.executionDetails[0].status}",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strSourceSystem": {
																		"value": {
																			"value": "@item().SrcSystem",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strEntityType": {
																		"value": {
																			"value": "@item().EntityType",
																			"type": "Expression"
																		},
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "Control",
																"type": "LinkedServiceReference"
															}
														}
													]
												},
												{
													"value": "HousingAccount",
													"activities": [
														{
															"name": "Trfd_to_Dest - HousingAccount",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	}
																},
																"sink": {
																	"type": "CommonDataServiceForAppsSink",
																	"writeBatchSize": 10,
																	"writeBehavior": "upsert",
																	"ignoreNullValues": false,
																	"alternateKeyName": {
																		"value": "@item().UpsertKeyColumn",
																		"type": "Expression"
																	}
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "phg_accountholder1",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_accountholder1",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_name",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_accountholder2",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_accountholder2",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_accounttypeid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_accounttypeid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_currentbalance",
																				"type": "Decimal",
																				"physicalType": "Decimal"
																			},
																			"sink": {
																				"name": "phg_currentbalance",
																				"type": "Decimal"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_grossrent",
																				"type": "Decimal",
																				"physicalType": "Decimal"
																			},
																			"sink": {
																				"name": "phg_grossrent",
																				"type": "Decimal"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_housingbenefitreceived",
																				"type": "Boolean",
																				"physicalType": "Boolean"
																			},
																			"sink": {
																				"name": "phg_housingbenefitreceived",
																				"type": "Boolean"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_allpayref",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_allpayref",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_integrationkey",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_integrationkey",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_netcharge",
																				"type": "Decimal",
																				"physicalType": "Decimal"
																			},
																			"sink": {
																				"name": "phg_netcharge",
																				"type": "Decimal"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_tenancyid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_tenancyid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_totalservicechargeamount",
																				"type": "Decimal",
																				"physicalType": "Decimal"
																			},
																			"sink": {
																				"name": "phg_totalservicechargeamount",
																				"type": "Decimal"
																			}
																		},
																		{
																			"source": {
																				"name": "transactioncurrencyid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "transactioncurrencyid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_checksum",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_checksum",
																				"type": "String"
																			}
																		}
																	],
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_Datalake_PipeDelimited",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Dataverse",
																	"type": "DatasetReference",
																	"parameters": {
																		"EntityName": {
																			"value": "@item().DestEntity",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "PipelineParameters LogEnd - HousingAccount",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - HousingAccount",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
																"storedProcedureParameters": {
																	"dtLastPipelineRunEnd": {
																		"value": {
																			"value": "@{utcnow()}",
																			"type": "Expression"
																		},
																		"type": "DateTime"
																	},
																	"strEntity": {
																		"value": {
																			"value": "@item().Entity",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strLastPipelineRunStatus": {
																		"value": {
																			"value": "@{activity('Trfd_to_Dest - HousingAccount').output.executionDetails[0].status}",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strSourceSystem": {
																		"value": {
																			"value": "@item().SrcSystem",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strEntityType": {
																		"value": {
																			"value": "@item().EntityType",
																			"type": "Expression"
																		},
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "Control",
																"type": "LinkedServiceReference"
															}
														}
													]
												},
												{
													"value": "HouseholdMember",
													"activities": [
														{
															"name": "Trfd_to_Dest - HouseholdMember",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	}
																},
																"sink": {
																	"type": "CommonDataServiceForAppsSink",
																	"writeBatchSize": 10,
																	"writeBehavior": "upsert",
																	"ignoreNullValues": false,
																	"alternateKeyName": {
																		"value": "@item().UpsertKeyColumn",
																		"type": "Expression"
																	}
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "phg_contactid",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_contactid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_integrationkey",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_integrationkey",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_name",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_tenancyid",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_tenancyid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_type",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_type",
																				"type": "Int32"
																			}
																		}
																	],
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_Datalake_PipeDelimited",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Dataverse",
																	"type": "DatasetReference",
																	"parameters": {
																		"EntityName": {
																			"value": "@item().DestEntity",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "PipelineParameters LogEnd - HouseholdMember",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - HouseholdMember",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
																"storedProcedureParameters": {
																	"dtLastPipelineRunEnd": {
																		"value": {
																			"value": "@{utcnow()}",
																			"type": "Expression"
																		},
																		"type": "DateTime"
																	},
																	"strEntity": {
																		"value": {
																			"value": "@item().Entity",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strLastPipelineRunStatus": {
																		"value": {
																			"value": "@{activity('Trfd_to_Dest - HouseholdMember').output.executionDetails[0].status}",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strSourceSystem": {
																		"value": {
																			"value": "@item().SrcSystem",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strEntityType": {
																		"value": {
																			"value": "@item().EntityType",
																			"type": "Expression"
																		},
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "Control",
																"type": "LinkedServiceReference"
															}
														},
														{
															"name": "PipelineAuditDetailLog_2 HM",
															"type": "Copy",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - HouseholdMember",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "AzureSqlSource",
																	"sqlReaderQuery": {
																		"value": "SELECT \n\n'@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunID,\n\n'@{item().SrcSystem}' as SrcSystem,\n'@{item().SrcStoredProcedure}' as Source,\n'@{item().DestEntity}' as Destination,\n'Trfd_to_Dest - HouseholdMember' as CopyActivity,\n\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n\n'@{activity('Trfd_to_Dest - HouseholdMember').output.rowsCopied}' as RowsCopied,\n'@{activity('Trfd_to_Dest - HouseholdMember').output.rowsRead}' as RowsRead,\n'@{activity('Trfd_to_Dest - HouseholdMember').output.usedParallelCopies}' as ParallelCopies,\n'@{activity('Trfd_to_Dest - HouseholdMember').output.copyDuration}' as CopyDuration_SS,\n'@{activity('Trfd_to_Dest - HouseholdMember').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n\n'@{activity('Trfd_to_Dest - HouseholdMember').output.executionDetails[0].source.type}' as SourceType,\n'@{activity('Trfd_to_Dest - HouseholdMember').output.executionDetails[0].sink.type}' as SinkType,\n'@{activity('Trfd_to_Dest - HouseholdMember').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Trfd_to_Dest - HouseholdMember').output.executionDetails[0].start}' as CopyActivity_StartTime,\n'@{utcnow()}' as CopyActivity_EndTime,\n'@{activity('Trfd_to_Dest - HouseholdMember').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_QueuingDuration_SS,\n'@{activity('Trfd_to_Dest - HouseholdMember').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_TimeToFirstByte_SS,\n'@{activity('Trfd_to_Dest - HouseholdMember').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_TransferDuration_SS\n",
																		"type": "Expression"
																	},
																	"queryTimeout": "02:00:00",
																	"partitionOption": "None"
																},
																"sink": {
																	"type": "AzureSqlSink",
																	"writeBehavior": "insert",
																	"sqlWriterUseTableLock": false
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_SQL_Control",
																	"type": "DatasetReference"
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_SQL_Control_Tbl",
																	"type": "DatasetReference",
																	"parameters": {
																		"SchemaName": "dbo",
																		"TableName": "PipelineAuditDetailLog"
																	}
																}
															]
														}
													]
												},
												{
													"value": "Warranty",
													"activities": [
														{
															"name": "Trfd_to_Dest - Warranty",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	}
																},
																"sink": {
																	"type": "CommonDataServiceForAppsSink",
																	"writeBatchSize": 10,
																	"writeBehavior": "upsert",
																	"ignoreNullValues": false,
																	"alternateKeyName": {
																		"value": "@item().UpsertKeyColumn",
																		"type": "Expression"
																	}
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "phg_description",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_description",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_expirydate",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_expirydate",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_integrationkey",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_integrationkey",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_name",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_propertyid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_propertyid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_relation",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_relation",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_relationcode",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_relationcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_relationsubcode",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_selationsubcode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_startdate",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_startdate",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_warrantycode",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_warrantycode",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_warrantytype",
																				"type": "Int32",
																				"physicalType": "Int32"
																			},
																			"sink": {
																				"name": "phg_warrantytype",
																				"type": "Int32"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_checksum",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_checksum",
																				"type": "String"
																			}
																		}
																	],
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_Datalake_PipeDelimited",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Dataverse",
																	"type": "DatasetReference",
																	"parameters": {
																		"EntityName": {
																			"value": "@item().DestEntity",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "PipelineParameters LogEnd - Warranty",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - Warranty",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
																"storedProcedureParameters": {
																	"dtLastPipelineRunEnd": {
																		"value": {
																			"value": "@{utcnow()}",
																			"type": "Expression"
																		},
																		"type": "DateTime"
																	},
																	"strEntity": {
																		"value": {
																			"value": "@item().Entity",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strLastPipelineRunStatus": {
																		"value": {
																			"value": "@{activity('Trfd_to_Dest - Warranty').output.executionDetails[0].status}",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strSourceSystem": {
																		"value": {
																			"value": "@item().SrcSystem",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strEntityType": {
																		"value": {
																			"value": "@item().EntityType",
																			"type": "Expression"
																		},
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "Control",
																"type": "LinkedServiceReference"
															}
														}
													]
												},
												{
													"value": "Component",
													"activities": [
														{
															"name": "Trfd_to_Dest - Component",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	}
																},
																"sink": {
																	"type": "CommonDataServiceForAppsSink",
																	"writeBatchSize": 10,
																	"writeBehavior": "upsert",
																	"ignoreNullValues": false,
																	"alternateKeyName": {
																		"value": "@item().UpsertKeyColumn",
																		"type": "Expression"
																	}
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"mappings": [
																		{
																			"source": {
																				"name": "phg_componenttypeid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_componenttypeid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_integrationkey",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_integrationkey",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_make",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_make",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_model",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_model",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_name",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_name",
																				"type": "String"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_propertyid",
																				"type": "Guid",
																				"physicalType": "Guid"
																			},
																			"sink": {
																				"name": "phg_propertyid",
																				"type": "Guid"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_replacementcycledate",
																				"type": "DateTime",
																				"physicalType": "DateTime"
																			},
																			"sink": {
																				"name": "phg_replacementcycledate",
																				"type": "DateTime"
																			}
																		},
																		{
																			"source": {
																				"name": "phg_checksum",
																				"type": "String",
																				"physicalType": "String"
																			},
																			"sink": {
																				"name": "phg_checksum",
																				"type": "String"
																			}
																		}
																	],
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DS_Datalake_PipeDelimited",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "DS_Dataverse",
																	"type": "DatasetReference",
																	"parameters": {
																		"EntityName": {
																			"value": "@item().DestEntity",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "PipelineParameters LogEnd - Component",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "Trfd_to_Dest - Component",
																	"dependencyConditions": [
																		"Completed"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[spUpdate_PipelineParameters_LogEnd]",
																"storedProcedureParameters": {
																	"dtLastPipelineRunEnd": {
																		"value": {
																			"value": "@{utcnow()}",
																			"type": "Expression"
																		},
																		"type": "DateTime"
																	},
																	"strEntity": {
																		"value": {
																			"value": "@item().Entity",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strLastPipelineRunStatus": {
																		"value": {
																			"value": "@{activity('Trfd_to_Dest - Component').output.executionDetails[0].status}",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strSourceSystem": {
																		"value": {
																			"value": "@item().SrcSystem",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"strEntityType": {
																		"value": {
																			"value": "@item().EntityType",
																			"type": "Expression"
																		},
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "Control",
																"type": "LinkedServiceReference"
															}
														}
													]
												}
											]
										}
									},
									{
										"name": "PipelineAuditDetailLog_3",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Destination to Source",
												"dependencyConditions": [
													"Completed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT \n\n'@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunID,\n\n'@{item().SrcSystem}' as SrcSystem,\n'@{item().SrcStoredProcedure}' as Source,\n'@{item().DestEntity}' as Destination,\n'Destination to Source' as CopyActivity,\n\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n\n'@{activity('Destination to Source').output.rowsCopied}' as RowsCopied,\n'@{activity('Destination to Source').output.rowsRead}' as RowsRead,\n'@{activity('Destination to Source').output.usedParallelCopies}' as ParallelCopies,\n'@{activity('Destination to Source').output.copyDuration}' as CopyDuration_SS,\n'@{activity('Destination to Source').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n\n'@{activity('Destination to Source').output.executionDetails[0].source.type}' as SourceType,\n'@{activity('Destination to Source').output.executionDetails[0].sink.type}' as SinkType,\n'@{activity('Destination to Source').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Destination to Source').output.executionDetails[0].start}' as CopyActivity_StartTime,\n'@{utcnow()}' as CopyActivity_EndTime,\n'@{activity('Destination to Source').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_QueuingDuration_SS,\n'@{activity('Destination to Source').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_TimeToFirstByte_SS,\n'@{activity('Destination to Source').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_TransferDuration_SS",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_Control",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DS_SQL_Control_Tbl",
												"type": "DatasetReference",
												"parameters": {
													"SchemaName": "dbo",
													"TableName": "PipelineAuditDetailLog"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "PipelineAuditDetailLog_1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Staging to Transformed",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT \n\n'@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunID,\n\n'@{item().SrcSystem}' as SrcSystem,\n'@{item().SrcStoredProcedure}' as Source,\n'@{item().DestEntity}' as Destination,\n'Staging to Transformed' as CopyActivity,\n\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n\n'@{activity('Staging to Transformed').output.rowsCopied}' as RowsCopied,\n'@{activity('Staging to Transformed').output.rowsRead}' as RowsRead,\n'@{activity('Staging to Transformed').output.usedParallelCopies}' as ParallelCopies,\n'@{activity('Staging to Transformed').output.copyDuration}' as CopyDuration_SS,\n'@{activity('Staging to Transformed').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n\n'@{activity('Staging to Transformed').output.executionDetails[0].source.type}' as SourceType,\n'@{activity('Staging to Transformed').output.executionDetails[0].sink.type}' as SinkType,\n'@{activity('Staging to Transformed').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Staging to Transformed').output.executionDetails[0].start}' as CopyActivity_StartTime,\n'@{utcnow()}' as CopyActivity_EndTime,\n'@{activity('Staging to Transformed').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_QueuingDuration_SS,\n'@{activity('Staging to Transformed').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_TimeToFirstByte_SS,\n'@{activity('Staging to Transformed').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_TransferDuration_SS",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_Control",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_Control_Tbl",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "dbo",
										"TableName": "PipelineAuditDetailLog"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "RunStart",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunStart",
					"value": {
						"value": "@string(utcNow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "RunEnd",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Entity",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunEnd",
					"value": {
						"value": "@string(utcNow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Duration_SS",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "RunEnd",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Duration_SS",
					"value": {
						"value": "@string(div(sub(ticks(formatDateTime(variables('RunEnd'))),ticks(formatDateTime(variables('RunStart')))),10000000))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PipelineAuditLog",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Duration_SS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT \n'@{pipeline().DataFactory}' as DataFactory,\n'@{pipeline().Pipeline}' as Pipeline,\n'@{pipeline().GroupId}' as GroupID,\n'@{pipeline().RunId}' as RunID,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline()?.TriggeredByPipelineName}' as TriggeredByPipelineName,\n'@{pipeline()?.TriggeredByPipelineRunId}' as TriggeredByPipelineRunID,\n'@{variables('RunStart')}' as RunStart,\n'@{variables('RunEnd')}' as RunEnd,\n'@{variables('Duration_SS')}' as Duration_SS,\n'Succeeded' as Status\n\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_Control",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQL_Control_Tbl",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "PipelineAuditLog"
						}
					}
				]
			}
		],
		"parameters": {
			"PipelineName": {
				"type": "string"
			},
			"SourceSystemName": {
				"type": "string"
			},
			"SequenceGroup": {
				"type": "int"
			}
		},
		"variables": {
			"RunStart": {
				"type": "String"
			},
			"RunEnd": {
				"type": "String"
			},
			"Duration_SS": {
				"type": "String"
			}
		},
		"folder": {
			"name": "OH_D365_DataSync/Child Packages"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-17T13:03:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}