pipeline/PL_LookupEntities.json
{
	"name": "PL_LookupEntities",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Entities",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGet_PipelineParameters_Entities]",
						"storedProcedureParameters": {
							"entityType": {
								"type": "String",
								"value": "Lookup"
							},
							"pipeline": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.PipelineName",
									"type": "Expression"
								}
							},
							"sequenceGroup": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.SequenceGroup",
									"type": "Expression"
								}
							},
							"srcSystem": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceSystemName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Control",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Entity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Entities').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().Entity",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Transaction Currency",
										"activities": [
											{
												"name": "D365_TransactionCurrency to SQL",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "CommonDataServiceForAppsSource",
														"query": {
															"value": "@item().FetchXML",
															"type": "Expression"
														}
													},
													"sink": {
														"type": "SqlServerSink",
														"writeBehavior": "upsert",
														"upsertSettings": {
															"useTempDB": false,
															"keys": [
																"transactioncurrencyid"
															]
														},
														"sqlWriterUseTableLock": false,
														"tableOption": "autoCreate"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "transactioncurrencyid"
																},
																"sink": {
																	"name": "transactioncurrencyid"
																}
															},
															{
																"source": {
																	"name": "isocurrencycode"
																},
																"sink": {
																	"name": "isocurrencycode"
																}
															},
															{
																"source": {
																	"name": "currencyname"
																},
																"sink": {
																	"name": "currencyname"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "DS_Dataverse_Eval",
														"type": "DatasetReference",
														"parameters": {
															"EntityName": "transactioncurrency"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_OnPrem_Tbl",
														"type": "DatasetReference",
														"parameters": {
															"ServerName": {
																"value": "@item().SrcServer",
																"type": "Expression"
															},
															"DatabaseName": {
																"value": "@item().SrcDatabase",
																"type": "Expression"
															},
															"SchemaName": {
																"value": "@item().DestSchema",
																"type": "Expression"
															},
															"TableName": {
																"value": "@item().DestEntity",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "String Map",
										"activities": [
											{
												"name": "Wait3",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											}
										]
									},
									{
										"value": "Ref Entity Code Map",
										"activities": [
											{
												"name": "Wait4",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Wait1",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PipelineName": {
				"type": "string"
			},
			"SourceSystemName": {
				"type": "string"
			},
			"SequenceGroup": {
				"type": "int"
			}
		},
		"folder": {
			"name": "OH_D365_DataSync/Child Packages"
		},
		"annotations": []
	}
}