phg-eval-datafactory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "phg-eval-datafactory"
		},
		"SqlServer_OnPrem_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer_OnPrem'",
			"defaultValue": "Integrated Security=True;Data Source=@{linkedService().ServerName};Initial Catalog=@{linkedService().DatabaseName}"
		},
		"SqlServer_OnPrem_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer_OnPrem'"
		},
		"SqlServer_OnPrem_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "GROUPICT\\stuart.mcnicholas"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_phg_housingaccounttype')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataLake/D365"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "phg_housingaccounttype.csv",
						"folderPath": "OH_D365_DataSync/D365",
						"fileSystem": "data-sync"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "phg_housingaccounttypeid",
						"type": "String"
					},
					{
						"name": "phg_integrationkey",
						"type": "String"
					},
					{
						"name": "phg_name",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_phg_managementarea')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataLake/D365"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "phg_managementarea.csv",
						"folderPath": "OH_D365_DataSync/D365",
						"fileSystem": "data-sync"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "phg_managementareaid",
						"type": "String"
					},
					{
						"name": "phg_integrationkey",
						"type": "String"
					},
					{
						"name": "phg_name",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_phg_nationality')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataLake/D365"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "phg_nationality.csv",
						"folderPath": "OH_D365_DataSync/D365",
						"fileSystem": "data-sync"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "phg_nationalityid",
						"type": "String"
					},
					{
						"name": "phg_integrationkey",
						"type": "String"
					},
					{
						"name": "phg_name",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_phg_parish')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataLake/D365"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "phg_parish.csv",
						"folderPath": "OH_D365_DataSync/D365",
						"fileSystem": "data-sync"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "phg_parishid",
						"type": "String"
					},
					{
						"name": "phg_integrationkey",
						"type": "String"
					},
					{
						"name": "phg_name",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_phg_property')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataLake/D365"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "phg_property.csv",
						"folderPath": "OH_D365_DataSync/D365",
						"fileSystem": "data-sync"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "phg_propertyid",
						"type": "String"
					},
					{
						"name": "phg_integrationkey",
						"type": "String"
					},
					{
						"name": "phg_name",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_phg_propertybuildtype')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataLake/D365"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "phg_propertybuildtype.csv",
						"folderPath": "OH_D365_DataSync/D365",
						"fileSystem": "data-sync"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "phg_propertybuildtypeid",
						"type": "String"
					},
					{
						"name": "phg_integrationkey",
						"type": "String"
					},
					{
						"name": "phg_name",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_phg_propertystatus')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataLake/D365"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "phg_propertystatus.csv",
						"folderPath": "OH_D365_DataSync/D365",
						"fileSystem": "data-sync"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "phg_propertystatusid",
						"type": "String"
					},
					{
						"name": "phg_integrationkey",
						"type": "String"
					},
					{
						"name": "phg_name",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_phg_religion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataLake/D365"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "phg_religion.csv",
						"folderPath": "OH_D365_DataSync/D365",
						"fileSystem": "data-sync"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "phg_religionid",
						"type": "String"
					},
					{
						"name": "phg_integrationkey",
						"type": "String"
					},
					{
						"name": "phg_name",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_phg_sexuality')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataLake/D365"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "phg_sexuality.csv",
						"folderPath": "OH_D365_DataSync/D365",
						"fileSystem": "data-sync"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "phg_sexualityid",
						"type": "String"
					},
					{
						"name": "phg_integrationkey",
						"type": "String"
					},
					{
						"name": "phg_name",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_phg_tenancy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataLake/D365"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "phg_tenancy.csv",
						"folderPath": "OH_D365_DataSync/D365",
						"fileSystem": "data-sync"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "phg_tenancyid",
						"type": "String"
					},
					{
						"name": "phg_integrationkey",
						"type": "String"
					},
					{
						"name": "phg_name",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_phg_tenancycategory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataLake/D365"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "phg_tenancycategory.csv",
						"folderPath": "OH_D365_DataSync/D365",
						"fileSystem": "data-sync"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "phg_tenancycategoryid",
						"type": "String"
					},
					{
						"name": "phg_integrationkey",
						"type": "String"
					},
					{
						"name": "phg_name",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_phg_tenancytype')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataLake/D365"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "phg_tenancytype.csv",
						"folderPath": "OH_D365_DataSync/D365",
						"fileSystem": "data-sync"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "phg_tenancytypeid",
						"type": "String"
					},
					{
						"name": "phg_integrationkey",
						"type": "String"
					},
					{
						"name": "phg_name",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_phg_transactiontype')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataLake/D365"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "phg_transactiontype.csv",
						"folderPath": "OH_D365_DataSync/D365",
						"fileSystem": "data-sync"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "phg_transactiontypeid",
						"type": "String"
					},
					{
						"name": "phg_integrationkey",
						"type": "String"
					},
					{
						"name": "phg_name",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_stringmap')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataLake/D365"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "stringmap.csv",
						"folderPath": "OH_D365_DataSync/D365",
						"fileSystem": "data-sync"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "attributename",
						"type": "String"
					},
					{
						"name": "attributevalue",
						"type": "String"
					},
					{
						"name": "objecttypecode",
						"type": "String"
					},
					{
						"name": "value",
						"type": "String"
					},
					{
						"name": "stringmapid",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_transactioncurrency')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataLake/D365"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "transactioncurrency.csv",
						"folderPath": "OH_D365_DataSync/D365",
						"fileSystem": "data-sync"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "createdby",
						"type": "String"
					},
					{
						"name": "createdbyname",
						"type": "String"
					},
					{
						"name": "createdbyyominame",
						"type": "String"
					},
					{
						"name": "createdon",
						"type": "String"
					},
					{
						"name": "createdonbehalfby",
						"type": "String"
					},
					{
						"name": "createdonbehalfbyname",
						"type": "String"
					},
					{
						"name": "createdonbehalfbyyominame",
						"type": "String"
					},
					{
						"name": "currencyname",
						"type": "String"
					},
					{
						"name": "currencyprecision",
						"type": "String"
					},
					{
						"name": "currencysymbol",
						"type": "String"
					},
					{
						"name": "entityimage_timestamp",
						"type": "String"
					},
					{
						"name": "entityimage_url",
						"type": "String"
					},
					{
						"name": "entityimageid",
						"type": "String"
					},
					{
						"name": "exchangerate",
						"type": "String"
					},
					{
						"name": "importsequencenumber",
						"type": "String"
					},
					{
						"name": "isocurrencycode",
						"type": "String"
					},
					{
						"name": "modifiedby",
						"type": "String"
					},
					{
						"name": "modifiedbyname",
						"type": "String"
					},
					{
						"name": "modifiedbyyominame",
						"type": "String"
					},
					{
						"name": "modifiedon",
						"type": "String"
					},
					{
						"name": "modifiedonbehalfby",
						"type": "String"
					},
					{
						"name": "modifiedonbehalfbyname",
						"type": "String"
					},
					{
						"name": "modifiedonbehalfbyyominame",
						"type": "String"
					},
					{
						"name": "organizationid",
						"type": "String"
					},
					{
						"name": "overriddencreatedon",
						"type": "String"
					},
					{
						"name": "statecode",
						"type": "String"
					},
					{
						"name": "statuscode",
						"type": "String"
					},
					{
						"name": "transactioncurrencyid",
						"type": "String"
					},
					{
						"name": "uniquedscid",
						"type": "String"
					},
					{
						"name": "versionnumber",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer_OnPrem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"ServerName": {
						"type": "string"
					},
					"DatabaseName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer_OnPrem_connectionString')]",
					"userName": "[parameters('SqlServer_OnPrem_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer_OnPrem_password')]"
					}
				},
				"connectVia": {
					"referenceName": "BBP-Pro2SQL-01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_FullLoadReset')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RunStart",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "RunStart",
							"value": {
								"value": "@string(utcNow())",
								"type": "Expression"
							}
						}
					},
					{
						"name": "RunEnd",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SourceSystem",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "RunEnd",
							"value": {
								"value": "@string(utcNow())",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Duration_SS",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "RunEnd",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Duration_SS",
							"value": {
								"value": "@string(div(sub(ticks(formatDateTime(variables('RunEnd'))),ticks(formatDateTime(variables('RunStart')))),10000000))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "PipelineAuditLog - End - Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Duration_SS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spUpdate_PipelineAuditLog_End]",
							"storedProcedureParameters": {
								"dtRunEnd": {
									"value": {
										"value": "@variables('RunEnd')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"intDuration_SS": {
									"value": {
										"value": "@variables('Duration_SS')",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"strStatus": {
									"value": "Succeeded",
									"type": "String"
								},
								"uniqRunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "Guid"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Control",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PipelineAuditLog - End - Failed",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SourceSystem",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spUpdate_PipelineAuditLog_End]",
							"storedProcedureParameters": {
								"dtRunEnd": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"intDuration_SS": {
									"value": "0",
									"type": "Int32"
								},
								"strStatus": {
									"value": "Failed",
									"type": "String"
								},
								"uniqRunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "Guid"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Control",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spPopulate_Sourcesystems",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PipelineAuditLog - Start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulate_Sourcesystems]"
						},
						"linkedServiceName": {
							"referenceName": "Control",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spPopulate_PipelineParameters",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spPopulate_Sourcesystems",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulate_PipelineParameters]"
						},
						"linkedServiceName": {
							"referenceName": "Control",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SourceSystems",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "spPopulate_PipelineParameters",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGet_PipelineParameters_SourceSystems]",
								"storedProcedureParameters": {
									"pipeline": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.PipelineName",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Control",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SourceSystem",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "SourceSystems",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('SourceSystems').output",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Truncate D365 Tables",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[d365].[spTruncate_d365_tables]"
									},
									"linkedServiceName": {
										"referenceName": "SqlServer_OnPrem",
										"type": "LinkedServiceReference",
										"parameters": {
											"ServerName": {
												"value": "@item().SrcServer",
												"type": "Expression"
											},
											"DatabaseName": {
												"value": "@item().srcDatabase",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "PipelineAuditLog - Start",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "RunStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spInsert_PipelineAuditLog_Start]",
							"storedProcedureParameters": {
								"dtRunStart": {
									"value": {
										"value": "@variables('RunStart')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"dtTriggerTime": {
									"value": {
										"value": "@{pipeline().TriggerTime}",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"strDataFactory": {
									"value": {
										"value": "@{pipeline().DataFactory}",
										"type": "Expression"
									},
									"type": "String"
								},
								"strPipeline": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"strStatus": {
									"value": "In Progress",
									"type": "String"
								},
								"strTriggeredByPipelineName": {
									"value": {
										"value": "@{pipeline()?.TriggeredByPipelineName}",
										"type": "Expression"
									},
									"type": "String"
								},
								"uniqTriggeredByPipelineRunID": {
									"value": {
										"value": "@{pipeline()?.TriggeredByPipelineRunId}",
										"type": "Expression"
									},
									"type": "Guid"
								},
								"strTriggerName": {
									"value": {
										"value": "@{pipeline().TriggerName}",
										"type": "Expression"
									},
									"type": "String"
								},
								"strTriggerType": {
									"value": {
										"value": "@{pipeline().TriggerType}",
										"type": "Expression"
									},
									"type": "String"
								},
								"uniqGroupID": {
									"value": {
										"value": "@{pipeline().GroupId}",
										"type": "Expression"
									},
									"type": "Guid"
								},
								"uniqRunID": {
									"value": {
										"value": "@{pipeline().RunId}",
										"type": "Expression"
									},
									"type": "Guid"
								},
								"uniqTriggerID": {
									"value": {
										"value": "@{pipeline().TriggerId}",
										"type": "Expression"
									},
									"type": "Guid"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Control",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"PipelineName": {
						"type": "string"
					}
				},
				"variables": {
					"RunStart": {
						"type": "String"
					},
					"RunEnd": {
						"type": "String"
					},
					"Duration_SS": {
						"type": "String"
					}
				},
				"folder": {
					"name": "OH_D365_DataSync/Child Packages"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_OnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_OnPrem')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer_OnPrem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": {
							"value": "@dataset().ServerName",
							"type": "Expression"
						},
						"DatabaseName": {
							"value": "@dataset().DatabaseName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"ServerName": {
						"type": "string",
						"defaultValue": "BBP-PRO2SQL-01\\PRO2SQLTEST"
					},
					"DatabaseName": {
						"type": "string",
						"defaultValue": "Pro2_IH"
					},
					"SchemaName": {
						"type": "string",
						"defaultValue": "dbo"
					}
				},
				"folder": {
					"name": "SQL Server"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_OnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_OnPrem_Tbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer_OnPrem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": {
							"value": "@dataset().ServerName",
							"type": "Expression"
						},
						"DatabaseName": {
							"value": "@dataset().DatabaseName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"ServerName": {
						"type": "string",
						"defaultValue": "BBP-PRO2SQL-01\\PRO2SQLTEST"
					},
					"DatabaseName": {
						"type": "string",
						"defaultValue": "Pro2_IH"
					},
					"SchemaName": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"TableName": {
						"type": "string",
						"defaultValue": "co_parish"
					}
				},
				"folder": {
					"name": "SQL Server"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_OnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_DeleteEntityData')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "OH_D365_DataSync/Delete"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Datalake_PipeDelimited",
								"type": "DatasetReference"
							},
							"name": "DeletionData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Dataverse",
								"type": "DatasetReference"
							},
							"name": "SinkDelete"
						}
					],
					"transformations": [
						{
							"name": "AlterRowProperty"
						},
						{
							"name": "SelectColumn"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Entity as string,",
						"          phg_integrationkey as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> DeletionData",
						"SelectColumn alterRow(deleteIf(true())) ~> AlterRowProperty",
						"DeletionData select(mapColumn(",
						"          phg_integrationkey",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumn",
						"AlterRowProperty sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:true,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:false,",
						"     alternateKeyName: 'phg_integrationkey',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 0) ~> SinkDelete"
					]
				}
			},
			"dependsOn": []
		}
	]
}