phg-eval-datafactory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "phg-eval-datafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_OnPrem')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer_OnPrem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": {
							"value": "@dataset().ServerName",
							"type": "Expression"
						},
						"DatabaseName": {
							"value": "@dataset().DatabaseName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"ServerName": {
						"type": "string",
						"defaultValue": "BBP-PRO2SQL-01\\PRO2SQLTEST"
					},
					"DatabaseName": {
						"type": "string",
						"defaultValue": "Pro2_IH"
					},
					"SchemaName": {
						"type": "string",
						"defaultValue": "dbo"
					}
				},
				"folder": {
					"name": "SQL Server"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_OnPrem_Tbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer_OnPrem",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": {
							"value": "@dataset().ServerName",
							"type": "Expression"
						},
						"DatabaseName": {
							"value": "@dataset().DatabaseName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"ServerName": {
						"type": "string",
						"defaultValue": "BBP-PRO2SQL-01\\PRO2SQLTEST"
					},
					"DatabaseName": {
						"type": "string",
						"defaultValue": "Pro2_IH"
					},
					"SchemaName": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"TableName": {
						"type": "string",
						"defaultValue": "co_parish"
					}
				},
				"folder": {
					"name": "SQL Server"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_StagingToTransformed')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "OH_D365_DataSync/Reference"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Datalake_Delimited_Reference",
								"type": "DatasetReference"
							},
							"name": "Staging"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Datalake_Delimited_Reference",
								"type": "DatasetReference"
							},
							"name": "Transformed"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumns"
						},
						{
							"name": "SelectColumnsForSink"
						}
					],
					"scriptLines": [
						"parameters{",
						"     EntityQualifiedName as string,",
						"     DatalakeFilename as string",
						"}",
						"source(output(",
						"          code as string,",
						"          name as string,",
						"          modified as string,",
						"          created as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> Staging",
						"Staging derive(EntityQualifiedName = $EntityQualifiedName,",
						"          Entity_IntegrationKey = code) ~> DerivedColumns",
						"DerivedColumns select(mapColumn(",
						"          EntityQualifiedName,",
						"          Entity_IntegrationKey,",
						"          Entity_Code = code,",
						"          Entity_Name = name",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumnsForSink",
						"SelectColumnsForSink sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          code as string,",
						"          name as string,",
						"          modified as string,",
						"          created as string",
						"     ),",
						"     partitionFileNames:[($DatalakeFilename)],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> Transformed"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_StagingToTransformed_Property')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "OH_D365_DataSync/Core"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Datalake_Delimited",
								"type": "DatasetReference"
							},
							"name": "Staging"
						},
						{
							"dataset": {
								"referenceName": "DS_phg_propertystatus",
								"type": "DatasetReference"
							},
							"name": "propertystatus"
						},
						{
							"dataset": {
								"referenceName": "DS_phg_managementarea",
								"type": "DatasetReference"
							},
							"name": "managementarea"
						},
						{
							"dataset": {
								"referenceName": "DS_phg_propertybuildtype",
								"type": "DatasetReference"
							},
							"name": "propertybuildtype"
						},
						{
							"dataset": {
								"referenceName": "DS_phg_parish",
								"type": "DatasetReference"
							},
							"name": "parish"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Datalake_Delimited",
								"type": "DatasetReference"
							},
							"name": "Transformed"
						}
					],
					"transformations": [
						{
							"name": "SelectColumnsForSink"
						},
						{
							"name": "JoinPropertyStatus"
						},
						{
							"name": "JoinManagementArea"
						},
						{
							"name": "JoinPropertyBuildType"
						},
						{
							"name": "JoinParish"
						},
						{
							"name": "SelectA"
						},
						{
							"name": "SelectB"
						},
						{
							"name": "SelectC"
						},
						{
							"name": "SelectD"
						},
						{
							"name": "SelectStaging"
						},
						{
							"name": "SelectPropertyStatus"
						},
						{
							"name": "SelectManagementArea"
						},
						{
							"name": "SelectPropertyBuildType"
						},
						{
							"name": "SelectParish"
						}
					],
					"scriptLines": [
						"parameters{",
						"     DatalakeFilename as string",
						"}",
						"source(output(",
						"          phg_integrationkey as string,",
						"          phg_addressline1 as string,",
						"          phg_addressline2 as string,",
						"          phg_addressline3 as string,",
						"          phg_addressline4 as string,",
						"          phg_postcode as string,",
						"          phg_name as string,",
						"          phg_uprn as string,",
						"          phg_propertytype as string,",
						"          phg_sharedownership as boolean,",
						"          phg_numberoffloors as integer,",
						"          phg_propertyfloorlevel as integer,",
						"          phg_numberofbedrooms as integer,",
						"          phg_numberofbathrooms as integer,",
						"          phg_numberofreceptionrooms as integer,",
						"          phg_maximumnumberofoccupants as integer,",
						"          phg_lift as boolean,",
						"          phg_anyadaptions as boolean,",
						"          phg_blockreference as string,",
						"          phg_plotnumber as integer,",
						"          phg_builddate as date,",
						"          phg_floorplanurl as string,",
						"          phg_parkingspace as boolean,",
						"          phg_dateoffinaldisposal as date,",
						"          phg_cookersupply as boolean,",
						"          phg_garden as boolean,",
						"          phg_wardcode as string,",
						"          phg_estatecode as string,",
						"          phg_subareacode as string,",
						"          phg_gascapped as boolean,",
						"          phg_fuelservicedate as date,",
						"          phg_ownedbycustomer as double,",
						"          phg_ownedbyphg as double,",
						"          phg_gasmeterserialnumber as string,",
						"          phg_electricmeterserialnumber as string,",
						"          phg_propertystatusid as string,",
						"          phg_managementareaid as string,",
						"          phg_buildtypeid as string,",
						"          phg_parishid as string,",
						"          modified as timestamp,",
						"          created as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Staging",
						"source(output(",
						"          phg_propertystatusid as string,",
						"          phg_integrationkey as string,",
						"          phg_name as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> propertystatus",
						"source(output(",
						"          phg_managementareaid as string,",
						"          phg_integrationkey as string,",
						"          phg_name as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> managementarea",
						"source(output(",
						"          phg_propertybuildtypeid as string,",
						"          phg_integrationkey as string,",
						"          phg_name as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> propertybuildtype",
						"source(output(",
						"          phg_parishid as string,",
						"          phg_integrationkey as string,",
						"          phg_name as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> parish",
						"SelectD select(mapColumn(",
						"          phg_integrationkey,",
						"          phg_addressline1,",
						"          phg_addressline2,",
						"          phg_addressline3,",
						"          phg_addressline4,",
						"          phg_postcode,",
						"          phg_name,",
						"          phg_uprn,",
						"          phg_propertytype,",
						"          phg_sharedownership,",
						"          phg_numberoffloors,",
						"          phg_propertyfloorlevel,",
						"          phg_numberofbedrooms,",
						"          phg_numberofbathrooms,",
						"          phg_numberofreceptionrooms,",
						"          phg_maximumnumberofoccupants,",
						"          phg_lift,",
						"          phg_anyadaptions,",
						"          phg_blockreference,",
						"          phg_plotnumber,",
						"          phg_builddate,",
						"          phg_floorplanurl,",
						"          phg_parkingspace,",
						"          phg_dateoffinaldisposal,",
						"          phg_cookersupply,",
						"          phg_garden,",
						"          phg_wardcode,",
						"          phg_estatecode,",
						"          phg_subareacode,",
						"          phg_gascapped,",
						"          phg_fuelservicedate,",
						"          phg_ownedbycustomer,",
						"          phg_ownedbyphg,",
						"          phg_gasmeterserialnumber,",
						"          phg_electricmeterserialnumber,",
						"          phg_propertystatusid,",
						"          phg_managementareaid,",
						"          phg_parishid,",
						"          phg_propertybuildtypeid",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumnsForSink",
						"SelectStaging, SelectPropertyStatus join(ref_phg_propertystatusid == phg_propertystatusid,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinPropertyStatus",
						"SelectA, SelectManagementArea join(ref_phg_managementareaid == phg_managementareaid,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinManagementArea",
						"SelectB, SelectPropertyBuildType join(ref_phg_propertybuildtypeid == phg_propertybuildtypeid,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinPropertyBuildType",
						"SelectC, SelectParish join(ref_phg_parishid == phg_parishid,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinParish",
						"JoinPropertyStatus select(mapColumn(",
						"          phg_integrationkey = SelectStaging@phg_integrationkey,",
						"          phg_addressline1,",
						"          phg_addressline2,",
						"          phg_addressline3,",
						"          phg_addressline4,",
						"          phg_postcode,",
						"          phg_name,",
						"          phg_uprn,",
						"          phg_propertytype,",
						"          phg_sharedownership,",
						"          phg_numberoffloors,",
						"          phg_propertyfloorlevel,",
						"          phg_numberofbedrooms,",
						"          phg_numberofbathrooms,",
						"          phg_numberofreceptionrooms,",
						"          phg_maximumnumberofoccupants,",
						"          phg_lift,",
						"          phg_anyadaptations = phg_anyadaptions,",
						"          phg_blockreference,",
						"          phg_plotnumber,",
						"          phg_builddate,",
						"          phg_floorplanurl,",
						"          phg_parkingspace,",
						"          phg_dateoffinaldisposal,",
						"          phg_cookersupply,",
						"          phg_garden,",
						"          phg_wardcode,",
						"          phg_estatecode,",
						"          phg_subareacode,",
						"          phg_gascapped,",
						"          phg_fuelservicedate,",
						"          phg_ownedbycustomer,",
						"          phg_ownedbyphg,",
						"          phg_gasmeterserialnumber,",
						"          phg_electricmeterserialnumber,",
						"          phg_propertystatusid,",
						"          ref_phg_managementareaid,",
						"          ref_phg_propertybuildtypeid,",
						"          ref_phg_parishid",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectA",
						"JoinManagementArea select(mapColumn(",
						"          phg_integrationkey = SelectA@phg_integrationkey,",
						"          phg_addressline1,",
						"          phg_addressline2,",
						"          phg_addressline3,",
						"          phg_addressline4,",
						"          phg_postcode,",
						"          phg_name,",
						"          phg_uprn,",
						"          phg_propertytype,",
						"          phg_sharedownership,",
						"          phg_numberoffloors,",
						"          phg_propertyfloorlevel,",
						"          phg_numberofbedrooms,",
						"          phg_numberofbathrooms,",
						"          phg_numberofreceptionrooms,",
						"          phg_maximumnumberofoccupants,",
						"          phg_lift,",
						"          phg_anyadaptions = phg_anyadaptations,",
						"          phg_blockreference,",
						"          phg_plotnumber,",
						"          phg_builddate,",
						"          phg_floorplanurl,",
						"          phg_parkingspace,",
						"          phg_dateoffinaldisposal,",
						"          phg_cookersupply,",
						"          phg_garden,",
						"          phg_wardcode,",
						"          phg_estatecode,",
						"          phg_subareacode,",
						"          phg_gascapped,",
						"          phg_fuelservicedate,",
						"          phg_ownedbycustomer,",
						"          phg_ownedbyphg,",
						"          phg_gasmeterserialnumber,",
						"          phg_electricmeterserialnumber,",
						"          phg_propertystatusid,",
						"          ref_phg_propertybuildtypeid,",
						"          ref_phg_parishid,",
						"          phg_managementareaid",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectB",
						"JoinPropertyBuildType select(mapColumn(",
						"          phg_integrationkey = SelectB@phg_integrationkey,",
						"          phg_addressline1,",
						"          phg_addressline2,",
						"          phg_addressline3,",
						"          phg_addressline4,",
						"          phg_postcode,",
						"          phg_name,",
						"          phg_uprn,",
						"          phg_propertytype,",
						"          phg_sharedownership,",
						"          phg_numberoffloors,",
						"          phg_propertyfloorlevel,",
						"          phg_numberofbedrooms,",
						"          phg_numberofbathrooms,",
						"          phg_numberofreceptionrooms,",
						"          phg_maximumnumberofoccupants,",
						"          phg_lift,",
						"          phg_anyadaptions,",
						"          phg_blockreference,",
						"          phg_plotnumber,",
						"          phg_builddate,",
						"          phg_floorplanurl,",
						"          phg_parkingspace,",
						"          phg_dateoffinaldisposal,",
						"          phg_cookersupply,",
						"          phg_garden,",
						"          phg_wardcode,",
						"          phg_estatecode,",
						"          phg_subareacode,",
						"          phg_gascapped,",
						"          phg_fuelservicedate,",
						"          phg_ownedbycustomer,",
						"          phg_ownedbyphg,",
						"          phg_gasmeterserialnumber,",
						"          phg_electricmeterserialnumber,",
						"          phg_propertystatusid,",
						"          ref_phg_parishid,",
						"          phg_managementareaid,",
						"          phg_propertybuildtypeid",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectC",
						"JoinParish select(mapColumn(",
						"          phg_integrationkey = SelectC@phg_integrationkey,",
						"          phg_addressline1,",
						"          phg_addressline2,",
						"          phg_addressline3,",
						"          phg_addressline4,",
						"          phg_postcode,",
						"          phg_name,",
						"          phg_uprn,",
						"          phg_propertytype,",
						"          phg_sharedownership,",
						"          phg_numberoffloors,",
						"          phg_propertyfloorlevel,",
						"          phg_numberofbedrooms,",
						"          phg_numberofbathrooms,",
						"          phg_numberofreceptionrooms,",
						"          phg_maximumnumberofoccupants,",
						"          phg_lift,",
						"          phg_anyadaptions,",
						"          phg_blockreference,",
						"          phg_plotnumber,",
						"          phg_builddate,",
						"          phg_floorplanurl,",
						"          phg_parkingspace,",
						"          phg_dateoffinaldisposal,",
						"          phg_cookersupply,",
						"          phg_garden,",
						"          phg_wardcode,",
						"          phg_estatecode,",
						"          phg_subareacode,",
						"          phg_gascapped,",
						"          phg_fuelservicedate,",
						"          phg_ownedbycustomer,",
						"          phg_ownedbyphg,",
						"          phg_gasmeterserialnumber,",
						"          phg_electricmeterserialnumber,",
						"          phg_propertystatusid,",
						"          phg_managementareaid,",
						"          phg_propertybuildtypeid,",
						"          phg_parishid",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectD",
						"Staging select(mapColumn(",
						"          phg_integrationkey,",
						"          phg_addressline1,",
						"          phg_addressline2,",
						"          phg_addressline3,",
						"          phg_addressline4,",
						"          phg_postcode,",
						"          phg_name,",
						"          phg_uprn,",
						"          phg_propertytype,",
						"          phg_sharedownership,",
						"          phg_numberoffloors,",
						"          phg_propertyfloorlevel,",
						"          phg_numberofbedrooms,",
						"          phg_numberofbathrooms,",
						"          phg_numberofreceptionrooms,",
						"          phg_maximumnumberofoccupants,",
						"          phg_lift,",
						"          phg_anyadaptions,",
						"          phg_blockreference,",
						"          phg_plotnumber,",
						"          phg_builddate,",
						"          phg_floorplanurl,",
						"          phg_parkingspace,",
						"          phg_dateoffinaldisposal,",
						"          phg_cookersupply,",
						"          phg_garden,",
						"          phg_wardcode,",
						"          phg_estatecode,",
						"          phg_subareacode,",
						"          phg_gascapped,",
						"          phg_fuelservicedate,",
						"          phg_ownedbycustomer,",
						"          phg_ownedbyphg,",
						"          phg_gasmeterserialnumber,",
						"          phg_electricmeterserialnumber,",
						"          ref_phg_propertystatusid = phg_propertystatusid,",
						"          ref_phg_managementareaid = phg_managementareaid,",
						"          ref_phg_propertybuildtypeid = phg_buildtypeid,",
						"          ref_phg_parishid = phg_parishid",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectStaging",
						"propertystatus select(mapColumn(",
						"          phg_propertystatusid,",
						"          phg_integrationkey",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectPropertyStatus",
						"managementarea select(mapColumn(",
						"          phg_managementareaid,",
						"          phg_integrationkey",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectManagementArea",
						"propertybuildtype select(mapColumn(",
						"          phg_propertybuildtypeid,",
						"          phg_integrationkey",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectPropertyBuildType",
						"parish select(mapColumn(",
						"          phg_parishid,",
						"          phg_integrationkey",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectParish",
						"SelectColumnsForSink sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:[($DatalakeFilename)],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> Transformed"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CoreEntities')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Core_Entities",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGet_PipelineParameters_Entities]",
								"storedProcedureParameters": {
									"entityType": {
										"type": "String",
										"value": "Core"
									},
									"pipeline": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.PipelineName",
											"type": "Expression"
										}
									},
									"srcsystem": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SourceSystemName",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Control",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Entity",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Core_Entities",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Core_Entities').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Staging",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_Datalake_Delimited_Reference",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().DatalakeContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().DatalakeDirectory_Staging",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().DatalakeFilename",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "Source to Staging",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderStoredProcedureName": {
												"value": "@item().SrcStoredProcedure",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"dtLastPipelineRun": {
													"type": "DateTime",
													"value": {
														"value": "@convertToUtc('01/01/2023 00:00:00', 'GMT Standard Time')",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQL_OnPrem",
											"type": "DatasetReference",
											"parameters": {
												"ServerName": {
													"value": "@item().SrcServer",
													"type": "Expression"
												},
												"DatabaseName": {
													"value": "@item().SrcDatabase",
													"type": "Expression"
												},
												"SchemaName": {
													"value": "@item().SrcSchema",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_Datalake_Delimited",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().DatalakeContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().DatalakeDirectory_Staging",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().DatalakeFilename",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Transformed",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Source to Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_Datalake_Delimited_Reference",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().DatalakeContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().DatalakeDirectory_Transformed",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().DatalakeFilename",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "Switch Entity",
									"type": "Switch",
									"dependsOn": [
										{
											"activity": "Transformed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().Entity",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "Property",
												"activities": [
													{
														"name": "Stg_to_Trfd - Property",
														"type": "ExecuteDataFlow",
														"dependsOn": [],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"dataflow": {
																"referenceName": "DF_StagingToTransformed_Property",
																"type": "DataFlowReference",
																"parameters": {
																	"DatalakeFilename": {
																		"value": "'@{item().DatalakeFilename}'",
																		"type": "Expression"
																	}
																},
																"datasetParameters": {
																	"Staging": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Staging",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	},
																	"propertystatus": {},
																	"managementarea": {},
																	"propertybuildtype": {},
																	"parish": {},
																	"Transformed": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															},
															"staging": {},
															"integrationRuntime": {
																"referenceName": "AIR-TTL",
																"type": "IntegrationRuntimeReference"
															},
															"traceLevel": "Fine"
														}
													},
													{
														"name": "Transformed to Destination",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "Stg_to_Trfd - Property",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "CommonDataServiceForAppsSink",
																"writeBatchSize": 10,
																"writeBehavior": "upsert",
																"ignoreNullValues": false,
																"alternateKeyName": {
																	"value": "@item().UpsertKeyColumn",
																	"type": "Expression"
																}
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"mappings": [
																	{
																		"source": {
																			"name": "phg_addressline1",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_addressline1",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_addressline2",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_addressline2",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_addressline3",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_addressline3",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_addressline4",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_addresstowncity",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_blockreference",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_blockreference",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_builddate",
																			"type": "DateTime",
																			"physicalType": "DateTime"
																		},
																		"sink": {
																			"name": "phg_builddate",
																			"type": "DateTime"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_propertybuildtypeid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_buildtypeid",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_dateoffinaldisposal",
																			"type": "DateTime",
																			"physicalType": "DateTime"
																		},
																		"sink": {
																			"name": "phg_dateoffinaldisposal",
																			"type": "DateTime"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_electricmeterserialnumber",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_electricmeterserialnumber",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_estatecode",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_estatecode",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_floorplanurl",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_floorplanurl",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_fuelservicedate",
																			"type": "DateTime",
																			"physicalType": "DateTime"
																		},
																		"sink": {
																			"name": "phg_fuelservicedate",
																			"type": "DateTime"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_gasmeterserialnumber",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_gasmeterserialnumber",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_integrationkey",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_integrationkey",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_managementareaid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_managementareaid",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_maximumnumberofoccupants",
																			"type": "Int32",
																			"physicalType": "Int32"
																		},
																		"sink": {
																			"name": "phg_maximumnumberofoccupants",
																			"type": "Int32"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_name",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_name",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_numberofbathrooms",
																			"type": "Int32",
																			"physicalType": "Int32"
																		},
																		"sink": {
																			"name": "phg_numberofbathrooms",
																			"type": "Int32"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_numberofbedrooms",
																			"type": "Int32",
																			"physicalType": "Int32"
																		},
																		"sink": {
																			"name": "phg_numberofbedrooms",
																			"type": "Int32"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_numberoffloors",
																			"type": "Int32",
																			"physicalType": "Int32"
																		},
																		"sink": {
																			"name": "phg_numberoffloors",
																			"type": "Int32"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_numberofreceptionrooms",
																			"type": "Int32",
																			"physicalType": "Int32"
																		},
																		"sink": {
																			"name": "phg_numberofreceptionrooms",
																			"type": "Int32"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_ownedbycustomer",
																			"type": "Decimal",
																			"physicalType": "Decimal"
																		},
																		"sink": {
																			"name": "phg_ownedbycustomer",
																			"type": "Decimal"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_ownedbyphg",
																			"type": "Decimal",
																			"physicalType": "Decimal"
																		},
																		"sink": {
																			"name": "phg_ownedbyphg",
																			"type": "Decimal"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_parishid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_parishid",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_plotnumber",
																			"type": "Int32",
																			"physicalType": "Int32"
																		},
																		"sink": {
																			"name": "phg_plotnumber",
																			"type": "Int32"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_postcode",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_postcode",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_propertyfloorlevel",
																			"type": "Int32",
																			"physicalType": "Int32"
																		},
																		"sink": {
																			"name": "phg_propertyfloorlevel",
																			"type": "Int32"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_propertystatusid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_propertystatus",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_propertytype",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_propertytype",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_subareacode",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_subareacode",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_uprn",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_uprn",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_wardcode",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_wardcode",
																			"type": "String"
																		}
																	}
																],
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "DS_Datalake_Delimited",
																"type": "DatasetReference",
																"parameters": {
																	"Container": {
																		"value": "@item().DatalakeContainer",
																		"type": "Expression"
																	},
																	"Directory": {
																		"value": "@item().DatalakeDirectory_Transformed",
																		"type": "Expression"
																	},
																	"Filename": {
																		"value": "@item().DatalakeFilename",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "DS_Dataverse_Eval",
																"type": "DatasetReference",
																"parameters": {
																	"EntityName": {
																		"value": "@item().DestEntity",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												]
											},
											{
												"value": "Tenancy",
												"activities": [
													{
														"name": "Wait3",
														"type": "Wait",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"waitTimeInSeconds": 1
														}
													},
													{
														"name": "Wait4",
														"type": "Wait",
														"dependsOn": [
															{
																"activity": "Wait3",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"userProperties": [],
														"typeProperties": {
															"waitTimeInSeconds": 1
														}
													}
												]
											},
											{
												"value": "Contact",
												"activities": [
													{
														"name": "Wait5",
														"type": "Wait",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"waitTimeInSeconds": 1
														}
													},
													{
														"name": "Wait6",
														"type": "Wait",
														"dependsOn": [
															{
																"activity": "Wait5",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"userProperties": [],
														"typeProperties": {
															"waitTimeInSeconds": 1
														}
													}
												]
											},
											{
												"value": "HousingAccount",
												"activities": [
													{
														"name": "Wait7",
														"type": "Wait",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"waitTimeInSeconds": 1
														}
													},
													{
														"name": "Wait8",
														"type": "Wait",
														"dependsOn": [
															{
																"activity": "Wait7",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"userProperties": [],
														"typeProperties": {
															"waitTimeInSeconds": 1
														}
													}
												]
											}
										],
										"defaultActivities": [
											{
												"name": "Wait9",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"PipelineName": {
						"type": "string"
					},
					"SourceSystemName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "OH_D365_DataSync"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-17T13:03:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_OnPrem')]",
				"[concat(variables('factoryId'), '/dataflows/DF_StagingToTransformed_Property')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ReferenceEntities')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Reference_Entities",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGet_PipelineParameters_Entities]",
								"storedProcedureParameters": {
									"entityType": {
										"type": "String",
										"value": "Reference"
									},
									"pipeline": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.PipelineName",
											"type": "Expression"
										}
									},
									"srcsystem": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SourceSystemName",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Control",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Entity",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Reference_Entities",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Reference_Entities').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Staging",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_Datalake_Delimited_Reference",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().DatalakeContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().DatalakeDirectory_Staging",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().DatalakeFilename",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "Source to Staging",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Transformed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderStoredProcedureName": {
												"value": "@item().SrcStoredProcedure",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"dtLastPipelineRun": {
													"type": "DateTime",
													"value": {
														"value": "@convertToUtc('01/01/2023 00:00:00', 'GMT Standard Time')",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQL_OnPrem",
											"type": "DatasetReference",
											"parameters": {
												"ServerName": {
													"value": "@item().SrcServer",
													"type": "Expression"
												},
												"DatabaseName": {
													"value": "@item().SrcDatabase",
													"type": "Expression"
												},
												"SchemaName": {
													"value": "@item().SrcSchema",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_Datalake_Delimited_Reference",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().DatalakeContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().DatalakeDirectory_Staging",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().DatalakeFilename",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Transformed to Destination",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Staging to Transformed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "CommonDataServiceForAppsSink",
											"writeBatchSize": 10,
											"writeBehavior": "upsert",
											"ignoreNullValues": false,
											"alternateKeyName": {
												"value": "@item().UpsertKeyColumn",
												"type": "Expression"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Entity_IntegrationKey",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "phg_integrationkey",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Entity_Code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "phg_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Entity_Name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "phg_name",
														"type": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_Datalake_Delimited_Reference",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().DatalakeContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().DatalakeDirectory_Transformed",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().DatalakeFilename",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_Dataverse_Eval",
											"type": "DatasetReference",
											"parameters": {
												"EntityName": {
													"value": "@item().DestEntity",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Transformed",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_Datalake_Delimited_Reference",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().DatalakeContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().DatalakeDirectory_Transformed",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().DatalakeFilename",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "Staging to Transformed",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Source to Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_StagingToTransformed",
											"type": "DataFlowReference",
											"parameters": {
												"EntityQualifiedName": {
													"value": "'@{item().DestEntity}'",
													"type": "Expression"
												},
												"DatalakeFilename": {
													"value": "'@{item().DatalakeFilename}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"Staging": {
													"Container": {
														"value": "@item().DatalakeContainer",
														"type": "Expression"
													},
													"Directory": {
														"value": "@item().DatalakeDirectory_Staging",
														"type": "Expression"
													},
													"Filename": {
														"value": "@item().DatalakeFilename",
														"type": "Expression"
													}
												},
												"Transformed": {
													"Container": {
														"value": "@item().DatalakeContainer",
														"type": "Expression"
													},
													"Directory": {
														"value": "@item().DatalakeDirectory_Transformed",
														"type": "Expression"
													},
													"Filename": {
														"value": "@item().DatalakeFilename",
														"type": "Expression"
													}
												}
											}
										},
										"staging": {},
										"integrationRuntime": {
											"referenceName": "AIR-TTL",
											"type": "IntegrationRuntimeReference"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "Stored procedure2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Transformed to Destination",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spLog_Something]",
										"storedProcedureParameters": {
											"param1": {
												"value": "1",
												"type": "Int32"
											},
											"param2": {
												"value": "1",
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Control",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Stored procedure3",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Source to Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spLog_Something]",
										"storedProcedureParameters": {
											"param1": {
												"value": "1",
												"type": "Int32"
											},
											"param2": {
												"value": "1",
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Control",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Write to PipelineLog",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Transformed to Destination",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT '@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunID,\n'@{item().SrcStoredProcedure}' as Source,\n'@{item().DestEntity}' as Destination,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('Transformed to Destination').output.rowsCopied}' as RowsCopied,\n'@{activity('Transformed to Destination').output.rowsRead}' as RowsRead,\n'@{activity('Transformed to Destination').output.usedParallelCopies}' as ParallelCopies,\n'@{activity('Transformed to Destination').output.copyDuration}' as CopyDuration_SS,\n'@{activity('Transformed to Destination').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n'@{activity('Transformed to Destination').output.executionDetails[0].source.type}' as SourceType,\n'@{activity('Transformed to Destination').output.executionDetails[0].sink.type}' as SinkType,\n'@{activity('Transformed to Destination').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Transformed to Destination').output.executionDetails[0].start}' as CopyActivity_StartTime,\n'@{utcnow()}' as CopyActivity_EndTime,\n'@{activity('Transformed to Destination').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_QueuingDuration_SS,\n'@{activity('Transformed to Destination').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_TimeToFirstByte_SS,\n'@{activity('Transformed to Destination').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_TransferDuration_SS",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQL_Control",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SQL_Control_Tbl",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "dbo",
												"TableName": "PipelineLog"
											}
										}
									]
								},
								{
									"name": "Write to PipelineLog_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Source to Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT '@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunID,\n'@{item().SrcStoredProcedure}' as Source,\n'@{item().DestEntity}' as Destination,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('Source to Staging').output.rowsCopied}' as RowsCopied,\n'@{activity('Source to Staging').output.rowsRead}' as RowsRead,\n'@{activity('Source to Staging').output.usedParallelCopies}' as ParallelCopies,\n'@{activity('Source to Staging').output.copyDuration}' as CopyDuration_SS,\n'@{activity('Source to Staging').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n'@{activity('Source to Staging').output.executionDetails[0].source.type}' as SourceType,\n'@{activity('Source to Staging').output.executionDetails[0].sink.type}' as SinkType,\n'@{activity('Source to Staging').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Source to Staging').output.executionDetails[0].start}' as CopyActivity_StartTime,\n'@{utcnow()}' as CopyActivity_EndTime,\n'@{activity('Source to Staging').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_QueuingDuration_SS,\n'@{activity('Source to Staging').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_TimeToFirstByte_SS,\n'@{activity('Source to Staging').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_TransferDuration_SS",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQL_Control",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SQL_Control_Tbl",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "dbo",
												"TableName": "PipelineLog"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"PipelineName": {
						"type": "string"
					},
					"SourceSystemName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "OH_D365_DataSync"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-15T20:38:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_OnPrem')]",
				"[concat(variables('factoryId'), '/dataflows/DF_StagingToTransformed')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SourceSystems')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SourceSystems",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGet_PipelineParameters_SourceSystems]",
								"storedProcedureParameters": {
									"pipeline": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.PipelineName",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Control",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "SourceSystem",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "SourceSystems",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('SourceSystems').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Reference Entities",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Reference Entity Code Map to SQL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_ReferenceEntities",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"PipelineName": {
												"value": "@item().Pipeline",
												"type": "Expression"
											},
											"SourceSystemName": {
												"value": "@item().SrcSystem",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Core Entities",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "D365 Lookups",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_CoreEntities",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"PipelineName": {
												"value": "@item().Pipeline",
												"type": "Expression"
											},
											"SourceSystemName": {
												"value": "@item().SrcSystem",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Reference Entity Code Map to SQL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "SqlServerSink",
											"preCopyScript": "truncate table [adf].[ReferenceEntityCodeMap]",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "SourceSystem",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SourceSystem",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "SourceSchema",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SourceSchema",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "SourceTable",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SourceTable",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "SourceCode",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SourceCode",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Entity",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Entity",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "EntityQualifiedName",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EntityQualifiedName",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "EntityCode",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EntityCode",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "EntityValue",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EntityValue",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_Excel_ReferenceEntityCodeMap",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SQL_OnPrem_Tbl",
											"type": "DatasetReference",
											"parameters": {
												"ServerName": {
													"value": "@item().SrcServer",
													"type": "Expression"
												},
												"DatabaseName": {
													"value": "@item().SrcDatabase",
													"type": "Expression"
												},
												"SchemaName": "adf",
												"TableName": "ReferenceEntityCodeMap"
											}
										}
									]
								},
								{
									"name": "D365 Lookups",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Reference Entities",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_D365Lookups",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"PipelineName": {
						"type": "string",
						"defaultValue": "OH_D365_DataSync"
					}
				},
				"folder": {
					"name": "OH_D365_DataSync"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-17T13:03:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_ReferenceEntities')]",
				"[concat(variables('factoryId'), '/pipelines/PL_CoreEntities')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_OnPrem_Tbl')]"
			]
		}
	]
}