phg-eval-datafactory/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "phg-eval-datafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DF_StagingToTransformed_Tenancy')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "OH_D365_DataSync/Core"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Datalake_PipeDelimited",
								"type": "DatasetReference"
							},
							"name": "Staging"
						},
						{
							"dataset": {
								"referenceName": "DS_phg_tenancycategory",
								"type": "DatasetReference"
							},
							"name": "tenancycategory"
						},
						{
							"dataset": {
								"referenceName": "DS_phg_tenancytype",
								"type": "DatasetReference"
							},
							"name": "tenancytype"
						},
						{
							"dataset": {
								"referenceName": "DS_transactioncurrency",
								"type": "DatasetReference"
							},
							"name": "transactioncurrency"
						},
						{
							"dataset": {
								"referenceName": "DS_phg_property",
								"type": "DatasetReference"
							},
							"name": "property"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Datalake_PipeDelimited",
								"type": "DatasetReference"
							},
							"name": "Transformed"
						}
					],
					"transformations": [
						{
							"name": "SelectTenancyCategory"
						},
						{
							"name": "SelectTenancyType"
						},
						{
							"name": "SelectStaging"
						},
						{
							"name": "JoinTenancyCategory"
						},
						{
							"name": "SelectA"
						},
						{
							"name": "JoinTenancyType"
						},
						{
							"name": "SelectColumnsForSink"
						},
						{
							"name": "SelectTransactionCurrency"
						},
						{
							"name": "ISOCurrencyCode"
						},
						{
							"name": "JoinTransactionCurrency"
						},
						{
							"name": "SelectProperty"
						},
						{
							"name": "SelectB"
						},
						{
							"name": "JoinProperty"
						},
						{
							"name": "SelectC"
						}
					],
					"scriptLines": [
						"parameters{",
						"     DatalakeFilename as string",
						"}",
						"source(output(",
						"          phg_integrationkey as string,",
						"          phg_name as string,",
						"          phg_urn as long,",
						"          phg_tenancycategoryid as string,",
						"          phg_tenancytypeid as string,",
						"          phg_tenancystartdate as string,",
						"          phg_tenancyenddate as string,",
						"          phg_propertyid as string,",
						"          phg_balance as double,",
						"          phg_rentcharges as double,",
						"          modified as string,",
						"          created as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Staging",
						"source(output(",
						"          phg_tenancycategoryid as string,",
						"          phg_integrationkey as string,",
						"          phg_name as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> tenancycategory",
						"source(output(",
						"          phg_tenancytypeid as string,",
						"          phg_integrationkey as string,",
						"          phg_name as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> tenancytype",
						"source(output(",
						"          createdby as string,",
						"          createdbyname as string,",
						"          createdbyyominame as string,",
						"          createdon as string,",
						"          createdonbehalfby as string,",
						"          createdonbehalfbyname as string,",
						"          createdonbehalfbyyominame as string,",
						"          currencyname as string,",
						"          currencyprecision as string,",
						"          currencysymbol as string,",
						"          entityimage_timestamp as string,",
						"          entityimage_url as string,",
						"          entityimageid as string,",
						"          exchangerate as string,",
						"          importsequencenumber as string,",
						"          isocurrencycode as string,",
						"          modifiedby as string,",
						"          modifiedbyname as string,",
						"          modifiedbyyominame as string,",
						"          modifiedon as string,",
						"          modifiedonbehalfby as string,",
						"          modifiedonbehalfbyname as string,",
						"          modifiedonbehalfbyyominame as string,",
						"          organizationid as string,",
						"          overriddencreatedon as string,",
						"          statecode as string,",
						"          statuscode as string,",
						"          transactioncurrencyid as string,",
						"          uniquedscid as string,",
						"          versionnumber as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> transactioncurrency",
						"source(output(",
						"          phg_propertyid as string,",
						"          phg_integrationkey as string,",
						"          phg_name as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> property",
						"tenancycategory select(mapColumn(",
						"          phg_tenancycategoryid,",
						"          phg_integrationkey",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectTenancyCategory",
						"tenancytype select(mapColumn(",
						"          phg_tenancytypeid,",
						"          phg_integrationkey",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectTenancyType",
						"Staging select(mapColumn(",
						"          phg_integrationkey,",
						"          phg_name,",
						"          phg_urn,",
						"          phg_tenancycategoryid,",
						"          phg_tenancytypeid,",
						"          phg_tenancystartdate,",
						"          phg_tenancyenddate,",
						"          phg_propertyid,",
						"          phg_balance,",
						"          phg_rentcharges",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectStaging",
						"SelectStaging, SelectTenancyCategory join(SelectStaging@phg_tenancycategoryid == SelectTenancyCategory@phg_integrationkey,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinTenancyCategory",
						"JoinTenancyCategory select(mapColumn(",
						"          phg_integrationkey = SelectStaging@phg_integrationkey,",
						"          phg_name,",
						"          phg_urn,",
						"          phg_tenancycategoryid = SelectTenancyCategory@phg_tenancycategoryid,",
						"          phg_tenancytypeid,",
						"          phg_tenancystartdate,",
						"          phg_tenancyenddate,",
						"          phg_propertyid,",
						"          phg_balance,",
						"          phg_rentcharges",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectA",
						"SelectA, SelectTenancyType join(SelectA@phg_tenancytypeid == SelectTenancyType@phg_integrationkey,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinTenancyType",
						"JoinTransactionCurrency select(mapColumn(",
						"          phg_integrationkey,",
						"          phg_name,",
						"          phg_urn,",
						"          phg_tenancycategoryid,",
						"          phg_tenancytypeid,",
						"          phg_tenancystartdate,",
						"          phg_tenancyenddate,",
						"          phg_propertyid,",
						"          phg_balance,",
						"          phg_rentcharges,",
						"          transactioncurrencyid",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumnsForSink",
						"transactioncurrency select(mapColumn(",
						"          currencyname,",
						"          isocurrencycode,",
						"          statecode,",
						"          statuscode,",
						"          transactioncurrencyid",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectTransactionCurrency",
						"SelectC derive(isocurrencycode = \"GBP\") ~> ISOCurrencyCode",
						"ISOCurrencyCode, SelectTransactionCurrency join(ISOCurrencyCode@isocurrencycode == SelectTransactionCurrency@isocurrencycode,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinTransactionCurrency",
						"property select(mapColumn(",
						"          phg_propertyid,",
						"          phg_integrationkey",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectProperty",
						"JoinTenancyType select(mapColumn(",
						"          phg_integrationkey = SelectA@phg_integrationkey,",
						"          phg_name,",
						"          phg_urn,",
						"          phg_tenancycategoryid,",
						"          phg_tenancytypeid = SelectTenancyType@phg_tenancytypeid,",
						"          phg_tenancystartdate,",
						"          phg_tenancyenddate,",
						"          phg_propertyid,",
						"          phg_balance,",
						"          phg_rentcharges",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectB",
						"SelectB, SelectProperty join(SelectB@phg_propertyid == SelectProperty@phg_integrationkey,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinProperty",
						"JoinProperty select(mapColumn(",
						"          phg_integrationkey = SelectB@phg_integrationkey,",
						"          phg_name,",
						"          phg_urn,",
						"          phg_tenancycategoryid,",
						"          phg_tenancytypeid,",
						"          phg_tenancystartdate,",
						"          phg_tenancyenddate,",
						"          phg_propertyid = SelectProperty@phg_propertyid,",
						"          phg_balance,",
						"          phg_rentcharges",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectC",
						"SelectColumnsForSink sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:[($DatalakeFilename)],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> Transformed"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_StagingToTransformed_Transaction')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "OH_D365_DataSync/Core"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Datalake_PipeDelimited",
								"type": "DatasetReference"
							},
							"name": "Staging"
						},
						{
							"dataset": {
								"referenceName": "DS_phg_transactiontype",
								"type": "DatasetReference"
							},
							"name": "transactiontype"
						},
						{
							"dataset": {
								"referenceName": "DS_transactioncurrency",
								"type": "DatasetReference"
							},
							"name": "transactioncurrency"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Datalake_PipeDelimited",
								"type": "DatasetReference"
							},
							"name": "Transformed"
						}
					],
					"transformations": [
						{
							"name": "SelectTransactionType"
						},
						{
							"name": "SelectStaging"
						},
						{
							"name": "JoinTransactionType"
						},
						{
							"name": "SelectA"
						},
						{
							"name": "SelectTransactionCurrency"
						},
						{
							"name": "ISOCurrencyCode"
						},
						{
							"name": "JoinTransactionCurrency"
						},
						{
							"name": "SelectColumnsForSink"
						}
					],
					"scriptLines": [
						"parameters{",
						"     DatalakeFilename as string",
						"}",
						"source(output(",
						"          phg_integrationkey as string,",
						"          phg_name as string,",
						"          phg_date as string,",
						"          phg_transactionnumber as string,",
						"          phg_transactiontypeid as string,",
						"          phg_balance as decimal(10,0),",
						"          phg_charges as decimal(10,0),",
						"          phg_debit as decimal(10,0),",
						"          modified as string,",
						"          created as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Staging",
						"source(output(",
						"          phg_transactiontypeid as string,",
						"          phg_integrationkey as string,",
						"          phg_name as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> transactiontype",
						"source(output(",
						"          createdby as string,",
						"          createdbyname as string,",
						"          createdbyyominame as string,",
						"          createdon as string,",
						"          createdonbehalfby as string,",
						"          createdonbehalfbyname as string,",
						"          createdonbehalfbyyominame as string,",
						"          currencyname as string,",
						"          currencyprecision as string,",
						"          currencysymbol as string,",
						"          entityimage_timestamp as string,",
						"          entityimage_url as string,",
						"          entityimageid as string,",
						"          exchangerate as string,",
						"          importsequencenumber as string,",
						"          isocurrencycode as string,",
						"          modifiedby as string,",
						"          modifiedbyname as string,",
						"          modifiedbyyominame as string,",
						"          modifiedon as string,",
						"          modifiedonbehalfby as string,",
						"          modifiedonbehalfbyname as string,",
						"          modifiedonbehalfbyyominame as string,",
						"          organizationid as string,",
						"          overriddencreatedon as string,",
						"          statecode as string,",
						"          statuscode as string,",
						"          transactioncurrencyid as string,",
						"          uniquedscid as string,",
						"          versionnumber as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> transactioncurrency",
						"transactiontype select(mapColumn(",
						"          phg_transactiontypeid,",
						"          phg_integrationkey",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectTransactionType",
						"Staging select(mapColumn(",
						"          phg_integrationkey,",
						"          phg_name,",
						"          phg_date,",
						"          phg_transactionnumber,",
						"          phg_transactiontypeid,",
						"          phg_balance,",
						"          phg_charges,",
						"          phg_debit",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectStaging",
						"SelectStaging, SelectTransactionType join(SelectStaging@phg_transactiontypeid == SelectTransactionType@phg_integrationkey,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinTransactionType",
						"JoinTransactionType select(mapColumn(",
						"          phg_integrationkey = SelectStaging@phg_integrationkey,",
						"          phg_name,",
						"          phg_date,",
						"          phg_transactionnumber,",
						"          phg_transactiontypeid = SelectTransactionType@phg_transactiontypeid,",
						"          phg_balance,",
						"          phg_charges,",
						"          phg_debit",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectA",
						"transactioncurrency select(mapColumn(",
						"          currencyname,",
						"          isocurrencycode,",
						"          statecode,",
						"          statuscode,",
						"          transactioncurrencyid",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectTransactionCurrency",
						"SelectA derive(isocurrencycode = \"GBP\") ~> ISOCurrencyCode",
						"ISOCurrencyCode, SelectTransactionCurrency join(ISOCurrencyCode@isocurrencycode == SelectTransactionCurrency@isocurrencycode,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinTransactionCurrency",
						"JoinTransactionCurrency select(mapColumn(",
						"          phg_integrationkey,",
						"          phg_name,",
						"          phg_date,",
						"          phg_transactionnumber,",
						"          phg_transactiontypeid,",
						"          phg_balance,",
						"          phg_charges,",
						"          phg_debit,",
						"          transactioncurrencyid",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumnsForSink",
						"SelectColumnsForSink sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:[($DatalakeFilename)],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> Transformed"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CoreEntities')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Core_Entities",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGet_PipelineParameters_Entities]",
								"storedProcedureParameters": {
									"entityType": {
										"type": "String",
										"value": "Core"
									},
									"pipeline": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.PipelineName",
											"type": "Expression"
										}
									},
									"sequenceGroup": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.SequenceGroup",
											"type": "Expression"
										}
									},
									"srcSystem": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SourceSystemName",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Control",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Entity",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Core_Entities",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Core_Entities').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Staging",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_Datalake_PipeDelimited",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().DatalakeContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().DatalakeDirectory_Staging",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().DatalakeFilename",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "Source to Staging",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Transformed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderStoredProcedureName": {
												"value": "@concat(item().SrcSchema,'.',item().SrcStoredProcedure)",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"dtLastPipelineRun": {
													"type": "DateTime",
													"value": {
														"value": "@convertToUtc('01/01/2023 00:00:00', 'GMT Standard Time')",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"dataIntegrationUnits": 2,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQL_OnPrem",
											"type": "DatasetReference",
											"parameters": {
												"ServerName": {
													"value": "@item().SrcServer",
													"type": "Expression"
												},
												"DatabaseName": {
													"value": "@item().SrcDatabase",
													"type": "Expression"
												},
												"SchemaName": {
													"value": "@item().SrcSchema",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_Datalake_PipeDelimited",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().DatalakeContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().DatalakeDirectory_Staging",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().DatalakeFilename",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Transformed",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_Datalake_PipeDelimited",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().DatalakeContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().DatalakeDirectory_Transformed",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().DatalakeFilename",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "Switch Entity",
									"type": "Switch",
									"dependsOn": [
										{
											"activity": "Source to Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().Entity",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "Property",
												"activities": [
													{
														"name": "Stg_to_Trfd - Property",
														"type": "ExecuteDataFlow",
														"dependsOn": [],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"dataflow": {
																"referenceName": "DF_StagingToTransformed_Property",
																"type": "DataFlowReference",
																"parameters": {
																	"DatalakeFilename": {
																		"value": "'@{item().DatalakeFilename}'",
																		"type": "Expression"
																	}
																},
																"datasetParameters": {
																	"Staging": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Staging",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	},
																	"propertystatus": {},
																	"managementarea": {},
																	"propertybuildtype": {},
																	"parish": {},
																	"tenancy": {},
																	"Transformed": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															},
															"staging": {},
															"integrationRuntime": {
																"referenceName": "AIR-TTL",
																"type": "IntegrationRuntimeReference"
															},
															"traceLevel": "Fine"
														}
													},
													{
														"name": "Trfd_to_Dest - Property",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "Stg_to_Trfd - Property",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "CommonDataServiceForAppsSink",
																"writeBatchSize": 10,
																"writeBehavior": "upsert",
																"ignoreNullValues": false,
																"alternateKeyName": {
																	"value": "@item().UpsertKeyColumn",
																	"type": "Expression"
																}
															},
															"enableStaging": false,
															"dataIntegrationUnits": 2,
															"translator": {
																"type": "TabularTranslator",
																"mappings": [
																	{
																		"source": {
																			"name": "phg_integrationkey",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_integrationkey",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_addressline1",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_addressline1",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_addressline2",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_addressline2",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_addressline3",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_addressline3",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_addressline4",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_addresstowncity",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_blockreference",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_blockreference",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_builddate",
																			"type": "DateTime",
																			"physicalType": "DateTime"
																		},
																		"sink": {
																			"name": "phg_builddate",
																			"type": "DateTime"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_propertybuildtypeid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_buildtypeid",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_dateoffinaldisposal",
																			"type": "DateTime",
																			"physicalType": "DateTime"
																		},
																		"sink": {
																			"name": "phg_dateoffinaldisposal",
																			"type": "DateTime"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_electricmeterserialnumber",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_electricmeterserialnumber",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_estatecode",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_estatecode",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_floorplanurl",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_floorplanurl",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_fuelservicedate",
																			"type": "DateTime",
																			"physicalType": "DateTime"
																		},
																		"sink": {
																			"name": "phg_fuelservicedate",
																			"type": "DateTime"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_gasmeterserialnumber",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_gasmeterserialnumber",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_managementareaid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_managementareaid",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_maximumnumberofoccupants",
																			"type": "Int32",
																			"physicalType": "Int32"
																		},
																		"sink": {
																			"name": "phg_maximumnumberofoccupants",
																			"type": "Int32"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_name",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_name",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_numberofbathrooms",
																			"type": "Int32",
																			"physicalType": "Int32"
																		},
																		"sink": {
																			"name": "phg_numberofbathrooms",
																			"type": "Int32"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_numberofbedrooms",
																			"type": "Int32",
																			"physicalType": "Int32"
																		},
																		"sink": {
																			"name": "phg_numberofbedrooms",
																			"type": "Int32"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_numberoffloors",
																			"type": "Int32",
																			"physicalType": "Int32"
																		},
																		"sink": {
																			"name": "phg_numberoffloors",
																			"type": "Int32"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_numberofreceptionrooms",
																			"type": "Int32",
																			"physicalType": "Int32"
																		},
																		"sink": {
																			"name": "phg_numberofreceptionrooms",
																			"type": "Int32"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_ownedbycustomer",
																			"type": "Decimal",
																			"physicalType": "Decimal"
																		},
																		"sink": {
																			"name": "phg_ownedbycustomer",
																			"type": "Decimal"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_ownedbyphg",
																			"type": "Decimal",
																			"physicalType": "Decimal"
																		},
																		"sink": {
																			"name": "phg_ownedbyphg",
																			"type": "Decimal"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_parishid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_parishid",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_plotnumber",
																			"type": "Int32",
																			"physicalType": "Int32"
																		},
																		"sink": {
																			"name": "phg_plotnumber",
																			"type": "Int32"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_postcode",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_postcode",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_propertyfloorlevel",
																			"type": "Int32",
																			"physicalType": "Int32"
																		},
																		"sink": {
																			"name": "phg_propertyfloorlevel",
																			"type": "Int32"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_tenancyid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_tenancyid",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_propertystatusid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_propertystatus",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_propertytype",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_propertytype",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_subareacode",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_subareacode",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_uprn",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_uprn",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_wardcode",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_wardcode",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_sharedownership",
																			"type": "Boolean",
																			"physicalType": "Boolean"
																		},
																		"sink": {
																			"name": "phg_sharedownership",
																			"type": "Boolean"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_lift",
																			"type": "Boolean",
																			"physicalType": "Boolean"
																		},
																		"sink": {
																			"name": "phg_lift",
																			"type": "Boolean"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_anyadaptions",
																			"type": "Boolean",
																			"physicalType": "Boolean"
																		},
																		"sink": {
																			"name": "phg_anyadaptions",
																			"type": "Boolean"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_parkingspace",
																			"type": "Boolean",
																			"physicalType": "Boolean"
																		},
																		"sink": {
																			"name": "phg_parkingspace",
																			"type": "Boolean"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_cookersupply",
																			"type": "Boolean",
																			"physicalType": "Boolean"
																		},
																		"sink": {
																			"name": "phg_cookersupply",
																			"type": "Boolean"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_garden",
																			"type": "Boolean",
																			"physicalType": "Boolean"
																		},
																		"sink": {
																			"name": "phg_garden",
																			"type": "Boolean"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_gascapped",
																			"type": "Boolean",
																			"physicalType": "Boolean"
																		},
																		"sink": {
																			"name": "phg_gascapped",
																			"type": "Boolean"
																		}
																	}
																],
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "DS_Datalake_PipeDelimited",
																"type": "DatasetReference",
																"parameters": {
																	"Container": {
																		"value": "@item().DatalakeContainer",
																		"type": "Expression"
																	},
																	"Directory": {
																		"value": "@item().DatalakeDirectory_Transformed",
																		"type": "Expression"
																	},
																	"Filename": {
																		"value": "@item().DatalakeFilename",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "DS_Dataverse_Eval",
																"type": "DatasetReference",
																"parameters": {
																	"EntityName": {
																		"value": "@item().DestEntity",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												]
											},
											{
												"value": "Tenancy",
												"activities": [
													{
														"name": "Stg_to_Trfd - Tenancy",
														"type": "ExecuteDataFlow",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"dataflow": {
																"referenceName": "DF_StagingToTransformed_Tenancy",
																"type": "DataFlowReference",
																"parameters": {
																	"DatalakeFilename": {
																		"value": "'@{item().DatalakeFilename}'",
																		"type": "Expression"
																	}
																},
																"datasetParameters": {
																	"Staging": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Staging",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	},
																	"tenancycategory": {},
																	"tenancytype": {},
																	"transactioncurrency": {},
																	"property": {},
																	"Transformed": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															},
															"staging": {},
															"integrationRuntime": {
																"referenceName": "AIR-TTL",
																"type": "IntegrationRuntimeReference"
															},
															"traceLevel": "Fine"
														}
													},
													{
														"name": "Trfd_to_Dest - Tenancy",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "Stg_to_Trfd - Tenancy",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "CommonDataServiceForAppsSink",
																"writeBatchSize": 10,
																"writeBehavior": "upsert",
																"ignoreNullValues": false,
																"alternateKeyName": {
																	"value": "@item().UpsertKeyColumn",
																	"type": "Expression"
																}
															},
															"enableStaging": false,
															"dataIntegrationUnits": 2,
															"translator": {
																"type": "TabularTranslator",
																"mappings": [
																	{
																		"source": {
																			"name": "phg_balance",
																			"type": "Decimal",
																			"physicalType": "Decimal"
																		},
																		"sink": {
																			"name": "phg_balance",
																			"type": "Decimal"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_integrationkey",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_integrationkey",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_name",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_name",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_rentcharges",
																			"type": "Decimal",
																			"physicalType": "Decimal"
																		},
																		"sink": {
																			"name": "phg_rentcharges",
																			"type": "Decimal"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_tenancycategoryid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_tenancycategoryid",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_tenancyenddate",
																			"type": "DateTime",
																			"physicalType": "DateTime"
																		},
																		"sink": {
																			"name": "phg_tenancyenddate",
																			"type": "DateTime"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_tenancystartdate",
																			"type": "DateTime",
																			"physicalType": "DateTime"
																		},
																		"sink": {
																			"name": "phg_tenancystartdate",
																			"type": "DateTime"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_tenancytypeid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_tenancytypeid",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_urn",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_urn",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "transactioncurrencyid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "transactioncurrencyid",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_propertyid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_propertyid",
																			"type": "Guid"
																		}
																	}
																],
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "DS_Datalake_PipeDelimited",
																"type": "DatasetReference",
																"parameters": {
																	"Container": {
																		"value": "@item().DatalakeContainer",
																		"type": "Expression"
																	},
																	"Directory": {
																		"value": "@item().DatalakeDirectory_Transformed",
																		"type": "Expression"
																	},
																	"Filename": {
																		"value": "@item().DatalakeFilename",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "DS_Dataverse_Eval",
																"type": "DatasetReference",
																"parameters": {
																	"EntityName": {
																		"value": "@item().DestEntity",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												]
											},
											{
												"value": "Contact",
												"activities": [
													{
														"name": "Stg_to_Trfd - Contact",
														"type": "ExecuteDataFlow",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"dataflow": {
																"referenceName": "DF_StagingToTransformed_Contact",
																"type": "DataFlowReference",
																"parameters": {
																	"DatalakeFilename": {
																		"value": "'@{item().DatalakeFilename}'",
																		"type": "Expression"
																	}
																},
																"datasetParameters": {
																	"Staging": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Staging",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	},
																	"ethnicgroup": {},
																	"religion": {},
																	"nationality": {},
																	"sexuality": {},
																	"Transformed": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															},
															"staging": {},
															"integrationRuntime": {
																"referenceName": "AIR-TTL",
																"type": "IntegrationRuntimeReference"
															},
															"traceLevel": "Fine"
														}
													},
													{
														"name": "Trfd_to_Dest - Contact",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "Stg_to_Trfd - Contact",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "CommonDataServiceForAppsSink",
																"writeBatchSize": 10,
																"writeBehavior": "upsert",
																"ignoreNullValues": false,
																"alternateKeyName": {
																	"value": "@item().UpsertKeyColumn",
																	"type": "Expression"
																}
															},
															"enableStaging": false,
															"dataIntegrationUnits": 2,
															"translator": {
																"type": "TabularTranslator",
																"mappings": [
																	{
																		"source": {
																			"name": "donotbulkemail",
																			"type": "Boolean",
																			"physicalType": "Boolean"
																		},
																		"sink": {
																			"name": "donotbulkemail",
																			"type": "Boolean"
																		}
																	},
																	{
																		"source": {
																			"name": "donotemail",
																			"type": "Boolean",
																			"physicalType": "Boolean"
																		},
																		"sink": {
																			"name": "donotemail",
																			"type": "Boolean"
																		}
																	},
																	{
																		"source": {
																			"name": "donotphone",
																			"type": "Boolean",
																			"physicalType": "Boolean"
																		},
																		"sink": {
																			"name": "donotphone",
																			"type": "Boolean"
																		}
																	},
																	{
																		"source": {
																			"name": "donotpostalmail",
																			"type": "Boolean",
																			"physicalType": "Boolean"
																		},
																		"sink": {
																			"name": "donotpostalmail",
																			"type": "Boolean"
																		}
																	},
																	{
																		"source": {
																			"name": "emailaddress1",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "emailaddress1",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "firstname",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "firstname",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "fullname",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "fullname",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "lastname",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "lastname",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "middlename",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "middlename",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "mobilephone",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "mobilephone",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_age",
																			"type": "Int32",
																			"physicalType": "Int32"
																		},
																		"sink": {
																			"name": "phg_age",
																			"type": "Int32"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_dateofbirth",
																			"type": "DateTime",
																			"physicalType": "DateTime"
																		},
																		"sink": {
																			"name": "phg_dateofbirth",
																			"type": "DateTime"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_dateofdeath",
																			"type": "DateTime",
																			"physicalType": "DateTime"
																		},
																		"sink": {
																			"name": "phg_dateofdeath",
																			"type": "DateTime"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_ethnicgroup",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_ethnicgroup",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_integrationkey",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_integrationkey",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_lastloggedin",
																			"type": "DateTime",
																			"physicalType": "DateTime"
																		},
																		"sink": {
																			"name": "phg_lastloggedin",
																			"type": "DateTime"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_nationaility",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_nationaility",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_ninumber",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_ninumber",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_previousname",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_previousname",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_registeredonportal",
																			"type": "Boolean",
																			"physicalType": "Boolean"
																		},
																		"sink": {
																			"name": "phg_registeredonportal",
																			"type": "Boolean"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_relgion",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_relgion",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_sexuality",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_sexuality",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "telephone2",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "telephone2",
																			"type": "String"
																		}
																	}
																],
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "DS_Datalake_PipeDelimited",
																"type": "DatasetReference",
																"parameters": {
																	"Container": {
																		"value": "@item().DatalakeContainer",
																		"type": "Expression"
																	},
																	"Directory": {
																		"value": "@item().DatalakeDirectory_Transformed",
																		"type": "Expression"
																	},
																	"Filename": {
																		"value": "@item().DatalakeFilename",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "DS_Dataverse_Eval",
																"type": "DatasetReference",
																"parameters": {
																	"EntityName": {
																		"value": "@item().DestEntity",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												]
											},
											{
												"value": "HousingAccount",
												"activities": [
													{
														"name": "Stg_to_Trfd - Housing Account",
														"type": "ExecuteDataFlow",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"dataflow": {
																"referenceName": "DF_StagingToTransformed_HousingAccount",
																"type": "DataFlowReference",
																"parameters": {
																	"DatalakeFilename": {
																		"value": "'@{item().DatalakeFilename}'",
																		"type": "Expression"
																	}
																},
																"datasetParameters": {
																	"Staging": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Staging",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	},
																	"housingaccounttype": {},
																	"transactioncurrency": {},
																	"tenancy": {},
																	"Transformed": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															},
															"staging": {},
															"integrationRuntime": {
																"referenceName": "AIR-TTL",
																"type": "IntegrationRuntimeReference"
															},
															"traceLevel": "Fine"
														}
													},
													{
														"name": "Trfd_to_Dest - HousingAccount",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "Stg_to_Trfd - Housing Account",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "CommonDataServiceForAppsSink",
																"writeBatchSize": 10,
																"writeBehavior": "upsert",
																"ignoreNullValues": false,
																"alternateKeyName": {
																	"value": "@item().UpsertKeyColumn",
																	"type": "Expression"
																}
															},
															"enableStaging": false,
															"dataIntegrationUnits": 2,
															"translator": {
																"type": "TabularTranslator",
																"mappings": [
																	{
																		"source": {
																			"name": "phg_accountholder1",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_accountholder1",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_name",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_name",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_accountholder2",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_accountholder2",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_accounttypeid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_accounttypeid",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_currentbalance",
																			"type": "Decimal",
																			"physicalType": "Decimal"
																		},
																		"sink": {
																			"name": "phg_currentbalance",
																			"type": "Decimal"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_grossrent",
																			"type": "Decimal",
																			"physicalType": "Decimal"
																		},
																		"sink": {
																			"name": "phg_grossrent",
																			"type": "Decimal"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_housingbenefitreceived",
																			"type": "Boolean",
																			"physicalType": "Boolean"
																		},
																		"sink": {
																			"name": "phg_housingbenefitreceived",
																			"type": "Boolean"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_allpayref",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_allpayref",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_integrationkey",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_integrationkey",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_netcharge",
																			"type": "Decimal",
																			"physicalType": "Decimal"
																		},
																		"sink": {
																			"name": "phg_netcharge",
																			"type": "Decimal"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_tenancyid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_tenancyid",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_totalservicechargeamount",
																			"type": "Decimal",
																			"physicalType": "Decimal"
																		},
																		"sink": {
																			"name": "phg_totalservicechargeamount",
																			"type": "Decimal"
																		}
																	},
																	{
																		"source": {
																			"name": "transactioncurrencyid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "transactioncurrencyid",
																			"type": "Guid"
																		}
																	}
																],
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "DS_Datalake_PipeDelimited",
																"type": "DatasetReference",
																"parameters": {
																	"Container": {
																		"value": "@item().DatalakeContainer",
																		"type": "Expression"
																	},
																	"Directory": {
																		"value": "@item().DatalakeDirectory_Transformed",
																		"type": "Expression"
																	},
																	"Filename": {
																		"value": "@item().DatalakeFilename",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "DS_Dataverse_Eval",
																"type": "DatasetReference",
																"parameters": {
																	"EntityName": {
																		"value": "@item().DestEntity",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												]
											},
											{
												"value": "Transaction",
												"activities": [
													{
														"name": "Stg_to_Trfd - Transaction",
														"type": "ExecuteDataFlow",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"dataflow": {
																"referenceName": "DF_StagingToTransformed_Transaction",
																"type": "DataFlowReference",
																"parameters": {
																	"DatalakeFilename": {
																		"value": "'@{item().DatalakeFilename}'",
																		"type": "Expression"
																	}
																},
																"datasetParameters": {
																	"Staging": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Staging",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	},
																	"transactiontype": {},
																	"transactioncurrency": {},
																	"Transformed": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															},
															"staging": {},
															"integrationRuntime": {
																"referenceName": "AIR-TTL",
																"type": "IntegrationRuntimeReference"
															},
															"traceLevel": "Fine"
														}
													},
													{
														"name": "Trfd_to_Dest - Transaction",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "Stg_to_Trfd - Transaction",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "CommonDataServiceForAppsSink",
																"writeBatchSize": 10,
																"writeBehavior": "upsert",
																"ignoreNullValues": false,
																"alternateKeyName": {
																	"value": "@item().UpsertKeyColumn",
																	"type": "Expression"
																}
															},
															"enableStaging": false,
															"dataIntegrationUnits": 2,
															"translator": {
																"type": "TabularTranslator",
																"mappings": [
																	{
																		"source": {
																			"name": "phg_balance",
																			"type": "Decimal",
																			"physicalType": "Decimal"
																		},
																		"sink": {
																			"name": "phg_balance",
																			"type": "Decimal"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_charges",
																			"type": "Decimal",
																			"physicalType": "Decimal"
																		},
																		"sink": {
																			"name": "phg_charges",
																			"type": "Decimal"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_date",
																			"type": "DateTime",
																			"physicalType": "DateTime"
																		},
																		"sink": {
																			"name": "phg_date",
																			"type": "DateTime"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_debit",
																			"type": "Decimal",
																			"physicalType": "Decimal"
																		},
																		"sink": {
																			"name": "phg_debit",
																			"type": "Decimal"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_integrationkey",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_integrationkey",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_name",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_name",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_transactionnumber",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_transactionnumber",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_transactiontypeid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "phg_transactiontypeid",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "transactioncurrencyid",
																			"type": "Guid",
																			"physicalType": "Guid"
																		},
																		"sink": {
																			"name": "transactioncurrencyid",
																			"type": "Guid"
																		}
																	}
																],
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "DS_Datalake_PipeDelimited",
																"type": "DatasetReference",
																"parameters": {
																	"Container": {
																		"value": "@item().DatalakeContainer",
																		"type": "Expression"
																	},
																	"Directory": {
																		"value": "@item().DatalakeDirectory_Transformed",
																		"type": "Expression"
																	},
																	"Filename": {
																		"value": "@item().DatalakeFilename",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "DS_Dataverse_Eval",
																"type": "DatasetReference",
																"parameters": {
																	"EntityName": {
																		"value": "@item().DestEntity",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												]
											},
											{
												"value": "HouseholdMember",
												"activities": [
													{
														"name": "Stg_to_Trfd - Household Member",
														"type": "ExecuteDataFlow",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"dataflow": {
																"referenceName": "DF_StagingToTransformed_HouseholdMember",
																"type": "DataFlowReference",
																"parameters": {
																	"DatalakeFilename": {
																		"value": "'@{item().DatalakeFilename}'",
																		"type": "Expression"
																	}
																},
																"datasetParameters": {
																	"Staging": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Staging",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	},
																	"tenancy": {},
																	"contact": {},
																	"Transformed": {
																		"Container": {
																			"value": "@item().DatalakeContainer",
																			"type": "Expression"
																		},
																		"Directory": {
																			"value": "@item().DatalakeDirectory_Transformed",
																			"type": "Expression"
																		},
																		"Filename": {
																			"value": "@item().DatalakeFilename",
																			"type": "Expression"
																		}
																	}
																}
															},
															"staging": {},
															"integrationRuntime": {
																"referenceName": "AIR-TTL",
																"type": "IntegrationRuntimeReference"
															},
															"traceLevel": "Fine"
														}
													},
													{
														"name": "Trfd_to_Dest - HouseholdMember",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "Stg_to_Trfd - Household Member",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobFSReadSettings",
																	"recursive": true,
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "CommonDataServiceForAppsSink",
																"writeBatchSize": 10,
																"writeBehavior": "upsert",
																"ignoreNullValues": false,
																"alternateKeyName": {
																	"value": "@item().UpsertKeyColumn",
																	"type": "Expression"
																}
															},
															"enableStaging": false,
															"dataIntegrationUnits": 2,
															"translator": {
																"type": "TabularTranslator",
																"mappings": [
																	{
																		"source": {
																			"name": "phg_contactid",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_contactid",
																			"type": "Guid"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_integrationkey",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_integrationkey",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_name",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_name",
																			"type": "String"
																		}
																	},
																	{
																		"source": {
																			"name": "phg_tenancyid",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "phg_tenancyid",
																			"type": "Guid"
																		}
																	}
																],
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "DS_Datalake_PipeDelimited",
																"type": "DatasetReference",
																"parameters": {
																	"Container": {
																		"value": "@item().DatalakeContainer",
																		"type": "Expression"
																	},
																	"Directory": {
																		"value": "@item().DatalakeDirectory_Transformed",
																		"type": "Expression"
																	},
																	"Filename": {
																		"value": "@item().DatalakeFilename",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "DS_Dataverse_Eval",
																"type": "DatasetReference",
																"parameters": {
																	"EntityName": {
																		"value": "@item().DestEntity",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"PipelineName": {
						"type": "string"
					},
					"SourceSystemName": {
						"type": "string"
					},
					"SequenceGroup": {
						"type": "int"
					}
				},
				"folder": {
					"name": "OH_D365_DataSync/Child Packages"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-17T13:03:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_StagingToTransformed_Tenancy')]",
				"[concat(variables('factoryId'), '/dataflows/DF_StagingToTransformed_Transaction')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Initialise')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Reference Entity Code Map to SQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table adf.ReferenceEntityCodeMap",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SourceSystem",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SourceSystem",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SourceSchema",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SourceSchema",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SourceTable",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SourceTable",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SourceCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SourceCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Entity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Entity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EntityQualifiedName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EntityQualifiedName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EntityCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EntityCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EntityValue",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EntityValue",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Excel_ReferenceEntityCodeMap",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_OnPrem_Tbl",
								"type": "DatasetReference",
								"parameters": {
									"ServerName": {
										"value": "@pipeline().parameters.ServerName",
										"type": "Expression"
									},
									"DatabaseName": {
										"value": "@pipeline().parameters.DatabaseName",
										"type": "Expression"
									},
									"SchemaName": "adf",
									"TableName": "ReferenceEntityCodeMap"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ServerName": {
						"type": "string"
					},
					"DatabaseName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Archive"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ReferenceEntities')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Reference_Entities",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGet_PipelineParameters_Entities]",
								"storedProcedureParameters": {
									"entityType": {
										"type": "String",
										"value": "Reference"
									},
									"pipeline": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.PipelineName",
											"type": "Expression"
										}
									},
									"sequenceGroup": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.SequenceGroup",
											"type": "Expression"
										}
									},
									"srcSystem": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.SourceSystemName",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Control",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Entity",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Reference_Entities",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Reference_Entities').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Staging",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_Datalake_PipeDelimited_Reference",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().DatalakeContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().DatalakeDirectory_Staging",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().DatalakeFilename",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "Source to Staging",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Transformed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderStoredProcedureName": {
												"value": "@concat(item().SrcSchema,'.',item().SrcStoredProcedure)",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"dtLastPipelineRun": {
													"type": "DateTime",
													"value": {
														"value": "@convertToUtc('01/01/2023 00:00:00', 'GMT Standard Time')",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"dataIntegrationUnits": 2,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQL_OnPrem",
											"type": "DatasetReference",
											"parameters": {
												"ServerName": {
													"value": "@item().SrcServer",
													"type": "Expression"
												},
												"DatabaseName": {
													"value": "@item().SrcDatabase",
													"type": "Expression"
												},
												"SchemaName": {
													"value": "@item().SrcSchema",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_Datalake_PipeDelimited_Reference",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().DatalakeContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().DatalakeDirectory_Staging",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().DatalakeFilename",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Transformed to Destination",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Staging to Transformed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "CommonDataServiceForAppsSink",
											"writeBatchSize": 10,
											"writeBehavior": "upsert",
											"ignoreNullValues": false,
											"alternateKeyName": {
												"value": "@item().UpsertKeyColumn",
												"type": "Expression"
											}
										},
										"enableStaging": false,
										"dataIntegrationUnits": 2,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "phg_integrationkey"
													},
													"sink": {
														"name": "phg_integrationkey",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "phg_code"
													},
													"sink": {
														"name": "phg_code",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "phg_name"
													},
													"sink": {
														"name": "phg_name",
														"type": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_Datalake_PipeDelimited_Reference",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().DatalakeContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().DatalakeDirectory_Transformed",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().DatalakeFilename",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_Dataverse_Eval",
											"type": "DatasetReference",
											"parameters": {
												"EntityName": {
													"value": "@item().DestEntity",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Transformed",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_Datalake_PipeDelimited_Reference",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().DatalakeContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().DatalakeDirectory_Transformed",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().DatalakeFilename",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "Write to PipelineLog",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Transformed to Destination",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT '@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunID,\n'@{item().SrcStoredProcedure}' as Source,\n'@{item().DestEntity}' as Destination,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('Transformed to Destination').output.rowsCopied}' as RowsCopied,\n'@{activity('Transformed to Destination').output.rowsRead}' as RowsRead,\n'@{activity('Transformed to Destination').output.usedParallelCopies}' as ParallelCopies,\n'@{activity('Transformed to Destination').output.copyDuration}' as CopyDuration_SS,\n'@{activity('Transformed to Destination').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n'@{activity('Transformed to Destination').output.executionDetails[0].source.type}' as SourceType,\n'@{activity('Transformed to Destination').output.executionDetails[0].sink.type}' as SinkType,\n'@{activity('Transformed to Destination').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Transformed to Destination').output.executionDetails[0].start}' as CopyActivity_StartTime,\n'@{utcnow()}' as CopyActivity_EndTime,\n'@{activity('Transformed to Destination').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_QueuingDuration_SS,\n'@{activity('Transformed to Destination').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_TimeToFirstByte_SS,\n'@{activity('Transformed to Destination').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_TransferDuration_SS",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQL_Control",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SQL_Control_Tbl",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "dbo",
												"TableName": "PipelineLog"
											}
										}
									]
								},
								{
									"name": "Write to PipelineLog_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Source to Staging",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT '@{pipeline().DataFactory}' as DataFactoryName,\n'@{pipeline().Pipeline}' as PipelineName,\n'@{pipeline().RunId}' as RunID,\n'@{item().SrcStoredProcedure}' as Source,\n'@{item().DestEntity}' as Destination,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerID,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('Source to Staging').output.rowsCopied}' as RowsCopied,\n'@{activity('Source to Staging').output.rowsRead}' as RowsRead,\n'@{activity('Source to Staging').output.usedParallelCopies}' as ParallelCopies,\n'@{activity('Source to Staging').output.copyDuration}' as CopyDuration_SS,\n'@{activity('Source to Staging').output.effectiveIntegrationRuntime}' as EffectiveIntegrationRuntime,\n'@{activity('Source to Staging').output.executionDetails[0].source.type}' as SourceType,\n'@{activity('Source to Staging').output.executionDetails[0].sink.type}' as SinkType,\n'@{activity('Source to Staging').output.executionDetails[0].status}' as ExecutionStatus,\n'@{activity('Source to Staging').output.executionDetails[0].start}' as CopyActivity_StartTime,\n'@{utcnow()}' as CopyActivity_EndTime,\n'@{activity('Source to Staging').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_QueuingDuration_SS,\n'@{activity('Source to Staging').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_TimeToFirstByte_SS,\n'@{activity('Source to Staging').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_TransferDuration_SS",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQL_Control",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SQL_Control_Tbl",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "dbo",
												"TableName": "PipelineLog"
											}
										}
									]
								},
								{
									"name": "Staging to Transformed",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Source to Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "phg_code"
													},
													"sink": {
														"name": "phg_code"
													}
												},
												{
													"source": {
														"name": "phg_name"
													},
													"sink": {
														"name": "phg_name"
													}
												},
												{
													"source": {
														"name": "phg_integrationkey"
													},
													"sink": {
														"name": "phg_integrationkey"
													}
												},
												{
													"source": {
														"name": "destination"
													},
													"sink": {
														"name": "destination"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_Datalake_PipeDelimited_Reference",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().DatalakeContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().DatalakeDirectory_Staging",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().DatalakeFilename",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_Datalake_PipeDelimited_Reference",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().DatalakeContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().DatalakeDirectory_Transformed",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().DatalakeFilename",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"PipelineName": {
						"type": "string"
					},
					"SourceSystemName": {
						"type": "string"
					},
					"SequenceGroup": {
						"type": "int"
					}
				},
				"folder": {
					"name": "OH_D365_DataSync/Child Packages"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-15T20:38:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Control')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SequenceGroups",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SourceSystem",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGet_PipelineParameters_SequenceGroups]",
								"storedProcedureParameters": {
									"pipeline": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.PipelineName",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Control",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "SequenceGroup",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "SequenceGroups",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('SequenceGroups').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Reference Entities",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_ReferenceEntities",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"PipelineName": {
												"value": "@item().Pipeline",
												"type": "Expression"
											},
											"SourceSystemName": {
												"value": "@item().SrcSystem",
												"type": "Expression"
											},
											"SequenceGroup": {
												"value": "@item().SequenceGroup",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Core Entities",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Reference Entities",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_CoreEntities",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"PipelineName": {
												"value": "@item().Pipeline",
												"type": "Expression"
											},
											"SourceSystemName": {
												"value": "@item().SrcSystem",
												"type": "Expression"
											},
											"SequenceGroup": {
												"value": "@item().SequenceGroup",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SourceSystem",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "SourceSystems",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('SourceSystems').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "D365_TransactionCurrency to SQL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "CommonDataServiceForAppsSource"
										},
										"sink": {
											"type": "SqlServerSink",
											"preCopyScript": "truncate table adf.d365_transactioncurrency",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "transactioncurrencyid",
														"type": "Guid"
													},
													"sink": {
														"name": "transactioncurrencyid",
														"type": "Guid"
													}
												},
												{
													"source": {
														"name": "isocurrencycode",
														"type": "String"
													},
													"sink": {
														"name": "isocurrencycode",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "currencyname",
														"type": "String"
													},
													"sink": {
														"name": "currencyname",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "DS_Dataverse_Eval",
											"type": "DatasetReference",
											"parameters": {
												"EntityName": "transactioncurrency"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SQL_OnPrem_Tbl",
											"type": "DatasetReference",
											"parameters": {
												"ServerName": {
													"value": "@item().SrcServer",
													"type": "Expression"
												},
												"DatabaseName": "OH_D365_Config",
												"SchemaName": "adf",
												"TableName": "d365_transactioncurrency"
											}
										}
									]
								},
								{
									"name": "D365_StringMap to SQL",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "D365_TransactionCurrency to SQL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "CommonDataServiceForAppsSource",
											"query": "<fetch>\r\n\t<entity name=\"stringmap\">\t\t\r\n\t\t\r\n\t\t<attribute name=\"attributename\"/>\t\t\r\n\t\t<attribute name=\"attributevalue\"/>\r\n\t\t<attribute name=\"objecttypecode\"/>\r\n\t\t<attribute name=\"value\"/>\r\n\r\n\t\t<filter type=\"and\">\r\n\t\t\t<condition attribute=\"attributename\" operator=\"like\" value=\"phg_%\"/>\r\n\t\t</filter>\r\n\t\t\r\n\t</entity>\r\n</fetch>\r\n"
										},
										"sink": {
											"type": "SqlServerSink",
											"preCopyScript": "truncate table adf.d365_stringmap",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "attributename",
														"type": "String"
													},
													"sink": {
														"name": "attributename",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "attributevalue",
														"type": "Int32"
													},
													"sink": {
														"name": "attributevalue",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "objecttypecode",
														"type": "String"
													},
													"sink": {
														"name": "objecttypecode",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "value",
														"type": "String"
													},
													"sink": {
														"name": "value",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "stringmapid",
														"type": "Guid"
													},
													"sink": {
														"name": "stringmapid",
														"type": "Guid"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "DS_Dataverse_Eval",
											"type": "DatasetReference",
											"parameters": {
												"EntityName": "stringmap"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SQL_OnPrem_Tbl",
											"type": "DatasetReference",
											"parameters": {
												"ServerName": {
													"value": "@item().SrcServer",
													"type": "Expression"
												},
												"DatabaseName": "OH_D365_Config",
												"SchemaName": "adf",
												"TableName": "d365_stringmap"
											}
										}
									]
								},
								{
									"name": "Reference Entity Code Map to SQL",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "D365_StringMap to SQL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "SqlServerSink",
											"preCopyScript": "truncate table adf.ReferenceEntityCodeMap",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "SourceSystem",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SourceSystem",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "SourceSchema",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SourceSchema",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "SourceTable",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SourceTable",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "SourceCode",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SourceCode",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Entity",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Entity",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "EntityQualifiedName",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EntityQualifiedName",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "EntityCode",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EntityCode",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "EntityValue",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EntityValue",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_Excel_ReferenceEntityCodeMap",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SQL_OnPrem_Tbl",
											"type": "DatasetReference",
											"parameters": {
												"ServerName": {
													"value": "@item().SrcServer",
													"type": "Expression"
												},
												"DatabaseName": {
													"value": "OH_D365_Config",
													"type": "Expression"
												},
												"SchemaName": "adf",
												"TableName": "ReferenceEntityCodeMap"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "SourceSystems",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGet_PipelineParameters_SourceSystems]",
								"storedProcedureParameters": {
									"pipeline": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.PipelineName",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Control",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"PipelineName": {
						"type": "string",
						"defaultValue": "OH_D365_DataSync"
					}
				},
				"folder": {
					"name": "OH_D365_DataSync"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-17T13:03:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_ReferenceEntities')]",
				"[concat(variables('factoryId'), '/pipelines/PL_CoreEntities')]"
			]
		}
	]
}